Repository Azure/azure-quickstart-templates, pull requests merged in 2021-08, with the labels that each got.

#11737 Migrate bicep example: 101/monitor-action-groups
  demos/monitor-action-groups/README.md
  demos/monitor-action-groups/azuredeploy.json
  demos/monitor-action-groups/main.bicep
  demos/monitor-action-groups/metadata.json
Labels: bicep, bicep example migration

#11693 Added bicep file to create Device Update account
  quickstarts/microsoft.deviceupdate/deviceupdate-create-account/README.md
  quickstarts/microsoft.deviceupdate/deviceupdate-create-account/azuredeploy.json
  quickstarts/microsoft.deviceupdate/deviceupdate-create-account/main.bicep
Labels: bicep

#11745 Added file to create Device Update instance
  quickstarts/microsoft.deviceupdate/deviceupdate-create-account-instance-iothub/README.md
  quickstarts/microsoft.deviceupdate/deviceupdate-create-account-instance-iothub/azuredeploy.json
  quickstarts/microsoft.deviceupdate/deviceupdate-create-account-instance-iothub/main.bicep
Labels: bicep, bicep warnings

#11403 Migrate bicep example: 301/nested-vms-in-virtual-network
  demos/nested-vms-in-virtual-network/README.md
  demos/nested-vms-in-virtual-network/azuredeploy.json
  demos/nested-vms-in-virtual-network/main.bicep
  demos/nested-vms-in-virtual-network/metadata.json
  demos/nested-vms-in-virtual-network/nic.bicep
  demos/nested-vms-in-virtual-network/udr.bicep
Labels: best practices violations, bicep, bicep example migration

#11391 Migrate bicep example: 201/web-app-asev2-create (IGNORE BEST PRACTICE FAILURES)
  quickstarts/microsoft.web/web-app-asev2-create/README.md
  quickstarts/microsoft.web/web-app-asev2-create/azuredeploy.json
  quickstarts/microsoft.web/web-app-asev2-create/azuredeploy.parameters.json
  quickstarts/microsoft.web/web-app-asev2-create/main.bicep
  quickstarts/microsoft.web/web-app-asev2-create/metadata.json
Labels: best practices violations, bicep, bicep example migration

#11397 Migrate bicep example: 201/asev2-ilb-with-web-app
  quickstarts/microsoft.web/asev2-ilb-with-web-app/README.md
  quickstarts/microsoft.web/asev2-ilb-with-web-app/azuredeploy.json
  quickstarts/microsoft.web/asev2-ilb-with-web-app/azuredeploy.parameters.json
  quickstarts/microsoft.web/asev2-ilb-with-web-app/main.bicep
  quickstarts/microsoft.web/asev2-ilb-with-web-app/metadata.json
Labels: bicep, bicep example migration

#11695 IBM Cloudpak for data 4.0 Changes
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/README.md
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/azuredeploy.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/azuredeploy.parameters.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/metadata.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/nested/cloudpakdeploy.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/nested/clusternode.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/nested/ocs.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/nested/openshiftdeploy.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/prereqs/prereq.azuredeploy.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPak.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakCCS.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakCDE.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakDB2U.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakDB2aaService.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakDMC.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakDV.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakLite.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakSPARK.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakWKCCore.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakWKCIIS.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakWKCUG.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakWML.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakWOS.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakWSL.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployOpenShift.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/install-ocs.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/openshiftCloudPakConfig.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/px-install.yaml
Labels: manual validation required

#11401 Migrate bicep example: 201/vmss-windows-autoscale
  quickstarts/microsoft.compute/vmss-windows-autoscale/README.md
  quickstarts/microsoft.compute/vmss-windows-autoscale/azuredeploy.json
  quickstarts/microsoft.compute/vmss-windows-autoscale/main.bicep
  quickstarts/microsoft.compute/vmss-windows-autoscale/metadata.json
Labels: bicep, bicep example migration

#11781 Add sample: Front Door Standard/Premium (Preview) with Azure Container Instances and Application Gateway origin
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-application-gateway-public/README.md
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-application-gateway-public/azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-application-gateway-public/azuredeploy.parameters.json
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-application-gateway-public/images/diagram.png
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-application-gateway-public/main.bicep
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-application-gateway-public/metadata.json
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-application-gateway-public/modules/application-gateway.bicep
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-application-gateway-public/modules/network.bicep
Labels: bicep

#11777 Add sample: Front Door Standard/Premium (Preview) with Azure Container Instances origin
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-public/README.md
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-public/azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-public/azuredeploy.parameters.json
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-public/images/diagram.png
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-public/main.bicep
  quickstarts/microsoft.network/front-door-standard-premium-container-instances-public/metadata.json
Labels: bicep

#11782 Update sample - Front Door Standard/Premium (Preview) with Application Gateway origin - update WAF configuration
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/metadata.json
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/modules/application-gateway.bicep
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/prereqs/prereq.azuredeploy.bicep
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/prereqs/scripts/enable-storage-static-website.ps1
Labels: best practices violations, bicep

#11039 Migrate bicep example: 101/cosmosdb-private-endpoint
  quickstarts/microsoft.documentdb/cosmosdb-private-endpoint/README.md
  quickstarts/microsoft.documentdb/cosmosdb-private-endpoint/azuredeploy.json
  quickstarts/microsoft.documentdb/cosmosdb-private-endpoint/main.bicep
  quickstarts/microsoft.documentdb/cosmosdb-private-endpoint/metadata.json
Labels: bicep, bicep example migration

#11735 FIX-ARTIFACTSLOCATION: azure-firewall-dns-proxy
  quickstarts/microsoft.network/azure-firewall-dns-proxy/azuredeploy.json
  quickstarts/microsoft.network/azure-firewall-dns-proxy/metadata.json
Labels: best practices violations

#11800 Re-run BP to test arm-ttk/issues/483
  demos/nested-vms-in-virtual-network/metadata.json
Labels: bicep

#11247 Migrate bicep example: 101/sqlmi-new-vnet
  quickstarts/microsoft.sql/sqlmi-new-vnet/README.md
  quickstarts/microsoft.sql/sqlmi-new-vnet/azuredeploy.json
  quickstarts/microsoft.sql/sqlmi-new-vnet/main.bicep
  quickstarts/microsoft.sql/sqlmi-new-vnet/metadata.json
Labels: bicep, bicep example migration

#11334 Migrate bicep example: 101/vnet-two-subnets
  quickstarts/microsoft.network/vnet-two-subnets/README.md
  quickstarts/microsoft.network/vnet-two-subnets/azuredeploy.json
  quickstarts/microsoft.network/vnet-two-subnets/main.bicep
  quickstarts/microsoft.network/vnet-two-subnets/metadata.json
Labels: bicep, bicep example migration

#11385 Migrate bicep example: 201/servicebus-create-queue (IGNORE BEST PRACTICE FAILURES)
  quickstarts/microsoft.servicebus/servicebus-create-queue/README.md
  quickstarts/microsoft.servicebus/servicebus-create-queue/azuredeploy.json
  quickstarts/microsoft.servicebus/servicebus-create-queue/main.bicep
  quickstarts/microsoft.servicebus/servicebus-create-queue/metadata.json
Labels: best practices violations, bicep, bicep example migration

#11388 Migrate bicep example: 201/vm-copy-managed-disks
  quickstarts/microsoft.compute/vm-copy-managed-disks/README.md
  quickstarts/microsoft.compute/vm-copy-managed-disks/azuredeploy.json
  quickstarts/microsoft.compute/vm-copy-managed-disks/main.bicep
  quickstarts/microsoft.compute/vm-copy-managed-disks/metadata.json
Labels: metadata violations, bicep, bicep example migration

#11404 Migrate bicep example: 301/servicebus-namespace-vnet
  quickstarts/microsoft.servicebus/servicebus-namespace-vnet/README.md
  quickstarts/microsoft.servicebus/servicebus-namespace-vnet/azuredeploy.json
  quickstarts/microsoft.servicebus/servicebus-namespace-vnet/main.bicep
  quickstarts/microsoft.servicebus/servicebus-namespace-vnet/metadata.json
Labels: best practices violations, bicep, bicep example migration

#11792 eap-7.4-on-rhel-8.4-standalone
  application-workloads/jboss/jboss-eap-standalone-rhel/README.md
  application-workloads/jboss/jboss-eap-standalone-rhel/azuredeploy.json
  application-workloads/jboss/jboss-eap-standalone-rhel/metadata.json
  application-workloads/jboss/jboss-eap-standalone-rhel/scripts/jbosseap-setup-redhat.sh
Labels: manual validation required

#11793 Eap 7.4 on rhel 8.4 multivm
  application-workloads/jboss/jboss-eap-clustered-multivm-rhel/README.md
  application-workloads/jboss/jboss-eap-clustered-multivm-rhel/azuredeploy.json
  application-workloads/jboss/jboss-eap-clustered-multivm-rhel/metadata.json
  application-workloads/jboss/jboss-eap-clustered-multivm-rhel/scripts/jbosseap-setup-redhat.sh
Labels: manual validation required

#11794 Eap 7.4 on rhel 8.4 vmss
  application-workloads/jboss/jboss-eap-clustered-vmss-rhel/README.md
  application-workloads/jboss/jboss-eap-clustered-vmss-rhel/azuredeploy.json
  application-workloads/jboss/jboss-eap-clustered-vmss-rhel/metadata.json
  application-workloads/jboss/jboss-eap-clustered-vmss-rhel/scripts/jbosseap-setup-redhat.sh
Labels: manual validation required

#11817 azure image builder with azure windows baseline
  demos/imagebuilder-windowsbaseline/README.md
  demos/imagebuilder-windowsbaseline/azuredeploy.json
  demos/imagebuilder-windowsbaseline/azuredeploy.parameters.json
  demos/imagebuilder-windowsbaseline/main.bicep
  demos/imagebuilder-windowsbaseline/metadata.json
  demos/imagebuilder-windowsbaseline/scripts/runScript.ps1
Labels: bicep, bicep warnings
