Repository Azure/azure-quickstart-templates, pull requests merged in 2021-11, with the labels that each got.

#11942 quickstart vnet peering
  quickstarts/microsoft.network/existing-vnet-to-vnet-peering/README.md
  quickstarts/microsoft.network/existing-vnet-to-vnet-peering/azuredeploy.json
  quickstarts/microsoft.network/existing-vnet-to-vnet-peering/main.bicep
  quickstarts/microsoft.network/existing-vnet-to-vnet-peering/metadata.json
Labels: best practices violations, bicep

#11982 Adding new properties to the logic app http trigger schema
  demos/identitygovernance-entitlementmanagement-extensibility-sample-logicapp/README.md
  demos/identitygovernance-entitlementmanagement-extensibility-sample-logicapp/azuredeploy.json
  demos/identitygovernance-entitlementmanagement-extensibility-sample-logicapp/metadata.json
Labels: metadata violations, best practices violations

#11984 Add bicep for managed-hsm-create
  quickstarts/microsoft.keyvault/managed-hsm-create/README.md
  quickstarts/microsoft.keyvault/managed-hsm-create/azuredeploy.json
  quickstarts/microsoft.keyvault/managed-hsm-create/azuredeploy.parameters.json
  quickstarts/microsoft.keyvault/managed-hsm-create/main.bicep
  quickstarts/microsoft.keyvault/managed-hsm-create/metadata.json
Labels: bicep

#11987 added acr quickstart
  quickstarts/microsoft.containerregistry/container-registry-with-policies-and-diagnostics/README.md
  quickstarts/microsoft.containerregistry/container-registry-with-policies-and-diagnostics/azuredeploy.json
  quickstarts/microsoft.containerregistry/container-registry-with-policies-and-diagnostics/azuredeploy.parameters.json
  quickstarts/microsoft.containerregistry/container-registry-with-policies-and-diagnostics/main.bicep
  quickstarts/microsoft.containerregistry/container-registry-with-policies-and-diagnostics/metadata.json
Labels: best practices violations, bicep

#11959 Add bicep template for data protection of storage blobs
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/README.md
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/azuredeploy.json
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/main.bicep
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/metadata.json
Labels: bicep, bicep warnings

#11972 Add bicep template for create vm and configure protection template
  quickstarts/microsoft.recoveryservices/recovery-services-create-vm-and-configure-backup/README.md
  quickstarts/microsoft.recoveryservices/recovery-services-create-vm-and-configure-backup/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-create-vm-and-configure-backup/main.bicep
  quickstarts/microsoft.recoveryservices/recovery-services-create-vm-and-configure-backup/metadata.json
Labels: bicep, bicep warnings

#11993 Updating to new API
  quickstarts/microsoft.hdinsight/hdinsight-linux-ssh-password/azuredeploy.json
  quickstarts/microsoft.hdinsight/hdinsight-linux-ssh-password/metadata.json
Labels: best practices violations

#11994 Update to new API
  quickstarts/microsoft.hdinsight/hdinsight-hbase-linux/azuredeploy.json
  quickstarts/microsoft.hdinsight/hdinsight-hbase-linux/metadata.json
Labels: best practices violations

#11996 add bicep for storage-blob-container
  quickstarts/microsoft.storage/storage-blob-container/README.md
  quickstarts/microsoft.storage/storage-blob-container/azuredeploy.json
  quickstarts/microsoft.storage/storage-blob-container/main.bicep
  quickstarts/microsoft.storage/storage-blob-container/metadata.json
Labels: bicep

#11997 add bicep for storage-multi-blob-container
  quickstarts/microsoft.storage/storage-multi-blob-container/README.md
  quickstarts/microsoft.storage/storage-multi-blob-container/azuredeploy.json
  quickstarts/microsoft.storage/storage-multi-blob-container/main.bicep
  quickstarts/microsoft.storage/storage-multi-blob-container/metadata.json
Labels: bicep

#11998 add bicep for storage-file-share
  quickstarts/microsoft.storage/storage-file-share/README.md
  quickstarts/microsoft.storage/storage-file-share/azuredeploy.json
  quickstarts/microsoft.storage/storage-file-share/main.bicep
  quickstarts/microsoft.storage/storage-file-share/metadata.json
Labels: bicep

#11999 add bicep for storage-multi-file-share
  quickstarts/microsoft.storage/storage-multi-file-share/README.md
  quickstarts/microsoft.storage/storage-multi-file-share/azuredeploy.json
  quickstarts/microsoft.storage/storage-multi-file-share/main.bicep
  quickstarts/microsoft.storage/storage-multi-file-share/metadata.json
Labels: bicep

#12000 add bicep for storage-account-create
  quickstarts/microsoft.storage/storage-account-create/README.md
  quickstarts/microsoft.storage/storage-account-create/azuredeploy.json
  quickstarts/microsoft.storage/storage-account-create/main.bicep
  quickstarts/microsoft.storage/storage-account-create/metadata.json
Labels: bicep

#12001 add bicep for storage-account-service-encryption-create
  quickstarts/microsoft.storage/storage-account-service-encryption-create/README.md
  quickstarts/microsoft.storage/storage-account-service-encryption-create/azuredeploy.json
  quickstarts/microsoft.storage/storage-account-service-encryption-create/main.bicep
  quickstarts/microsoft.storage/storage-account-service-encryption-create/metadata.json
Labels: bicep

#12002 add bicep for storage-advanced-threat-protection-create
  quickstarts/microsoft.storage/storage-advanced-threat-protection-create/README.md
  quickstarts/microsoft.storage/storage-advanced-threat-protection-create/azuredeploy.json
  quickstarts/microsoft.storage/storage-advanced-threat-protection-create/main.bicep
  quickstarts/microsoft.storage/storage-advanced-threat-protection-create/metadata.json
Labels: bicep

#12003 add bicep for managed-mariadb-with-vnet
  quickstarts/microsoft.dbformariadb/managed-mariadb-with-vnet/README.md
  quickstarts/microsoft.dbformariadb/managed-mariadb-with-vnet/azuredeploy.json
  quickstarts/microsoft.dbformariadb/managed-mariadb-with-vnet/main.bicep
  quickstarts/microsoft.dbformariadb/managed-mariadb-with-vnet/metadata.json
Labels: bicep

#12004 add bicep for managed-mysql-with-vnet
  quickstarts/microsoft.dbformysql/managed-mysql-with-vnet/README.md
  quickstarts/microsoft.dbformysql/managed-mysql-with-vnet/azuredeploy.json
  quickstarts/microsoft.dbformysql/managed-mysql-with-vnet/main.bicep
  quickstarts/microsoft.dbformysql/managed-mysql-with-vnet/metadata.json
Labels: bicep

#12005 add bicep for managed-postgresql-with-vnet
  quickstarts/microsoft.dbforpostgresql/managed-postgresql-with-vnet/README.md
  quickstarts/microsoft.dbforpostgresql/managed-postgresql-with-vnet/azuredeploy.json
  quickstarts/microsoft.dbforpostgresql/managed-postgresql-with-vnet/main.bicep
  quickstarts/microsoft.dbforpostgresql/managed-postgresql-with-vnet/metadata.json
Labels: bicep

#12007 Updates to VM params and new API version
  quickstarts/microsoft.hdinsight/hdinsight-autoscale-loadbased/README.md
  quickstarts/microsoft.hdinsight/hdinsight-autoscale-loadbased/azuredeploy.json
  quickstarts/microsoft.hdinsight/hdinsight-autoscale-loadbased/metadata.json
  quickstarts/microsoft.hdinsight/hdinsight-autoscale-schedulebased/README.md
  quickstarts/microsoft.hdinsight/hdinsight-autoscale-schedulebased/azuredeploy.json
  quickstarts/microsoft.hdinsight/hdinsight-autoscale-schedulebased/metadata.json
Labels: best practices violations

#12014 add bicep for cdn-customize
  quickstarts/microsoft.cdn/cdn-customize/README.md
  quickstarts/microsoft.cdn/cdn-customize/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-customize/main.bicep
  quickstarts/microsoft.cdn/cdn-customize/metadata.json
Labels: bicep

#12016 add bicep for cdn-with-custom-origin
  quickstarts/microsoft.cdn/cdn-with-custom-origin/README.md
  quickstarts/microsoft.cdn/cdn-with-custom-origin/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-custom-origin/main.bicep
  quickstarts/microsoft.cdn/cdn-with-custom-origin/metadata.json
Labels: bicep

#12017 add bicep for cdn-with-ruleseengine-cacheoverride
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-cacheoverride/README.md
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-cacheoverride/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-cacheoverride/main.bicep
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-cacheoverride/metadata.json
Labels: bicep

#12018 add bicep for cdn-with-ruleseengine-responseheader
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-responseheader/README.md
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-responseheader/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-responseheader/main.bicep
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-responseheader/metadata.json
Labels: bicep

#12019 add bicep for cdn-with-ruleseengine-rewriteandredirect
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-rewriteandredirect/README.md
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-rewriteandredirect/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-rewriteandredirect/main.bicep
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-rewriteandredirect/metadata.json
Labels: bicep

#12020 add bicep for cdn-with-ruleseengine-urlsigning
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-urlsigning/README.md
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-urlsigning/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-urlsigning/main.bicep
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-urlsigning/metadata.json
Labels: bicep, bicep warnings

#12010 add bicep for data-share-account
  quickstarts/microsoft.datashare/data-share-account/README.md
  quickstarts/microsoft.datashare/data-share-account/azuredeploy.json
  quickstarts/microsoft.datashare/data-share-account/azuredeploy.parameters.json
  quickstarts/microsoft.datashare/data-share-account/azuredeploy.parameters.us.json
  quickstarts/microsoft.datashare/data-share-account/main.bicep
  quickstarts/microsoft.datashare/data-share-account/metadata.json
Labels: bicep

#12011 add bicep for azure-data-share-share
  quickstarts/microsoft.datashare/data-share-share/README.md
  quickstarts/microsoft.datashare/data-share-share/azuredeploy.json
  quickstarts/microsoft.datashare/data-share-share/azuredeploy.parameters.json
  quickstarts/microsoft.datashare/data-share-share/azuredeploy.parameters.us.json
  quickstarts/microsoft.datashare/data-share-share/main.bicep
  quickstarts/microsoft.datashare/data-share-share/metadata.json
Labels: bicep

#11913 NSG Flow Log with Traffic Analytics Quickstart
  quickstarts/microsoft.network/nsg-flow-logs-with-traffic-analytics/README.md
  quickstarts/microsoft.network/nsg-flow-logs-with-traffic-analytics/azuredeploy.json
  quickstarts/microsoft.network/nsg-flow-logs-with-traffic-analytics/azuredeploy.parameters.json
  quickstarts/microsoft.network/nsg-flow-logs-with-traffic-analytics/main.bicep
  quickstarts/microsoft.network/nsg-flow-logs-with-traffic-analytics/metadata.json
  quickstarts/microsoft.network/nsg-flow-logs-with-traffic-analytics/nested/nested.flowlogs.bicep
  quickstarts/microsoft.network/nsg-flow-logs-with-traffic-analytics/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.network/nsg-flow-logs-with-traffic-analytics/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep

#11989 add container-app-create quickstart
  quickstarts/microsoft.web/container-app-create/README.md
  quickstarts/microsoft.web/container-app-create/azuredeploy.json
  quickstarts/microsoft.web/container-app-create/azuredeploy.parameters.json
  quickstarts/microsoft.web/container-app-create/main.bicep
  quickstarts/microsoft.web/container-app-create/metadata.json
Labels: bicep, bicep warnings

#12015 add bicep for cdn-with-web-app
  quickstarts/microsoft.cdn/cdn-with-web-app/README.md
  quickstarts/microsoft.cdn/cdn-with-web-app/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-web-app/main.bicep
  quickstarts/microsoft.cdn/cdn-with-web-app/metadata.json
Labels: bicep, PORTAL SAMPLE

#12026 add bicep for analysis-services-create
  quickstarts/microsoft.analysisservices/analysis-services-create/README.md
  quickstarts/microsoft.analysisservices/analysis-services-create/azuredeploy.json
  quickstarts/microsoft.analysisservices/analysis-services-create/main.bicep
  quickstarts/microsoft.analysisservices/analysis-services-create/metadata.json
Labels: bicep

#12027 add bicep for azure-api-management-create
  quickstarts/microsoft.apimanagement/azure-api-management-create/README.md
  quickstarts/microsoft.apimanagement/azure-api-management-create/azuredeploy.json
  quickstarts/microsoft.apimanagement/azure-api-management-create/main.bicep
  quickstarts/microsoft.apimanagement/azure-api-management-create/metadata.json
Labels: bicep

#12028 add bicep for api-management-simple-zones
  quickstarts/microsoft.apimanagement/api-management-simple-zones/README.md
  quickstarts/microsoft.apimanagement/api-management-simple-zones/azuredeploy.json
  quickstarts/microsoft.apimanagement/api-management-simple-zones/main.bicep
  quickstarts/microsoft.apimanagement/api-management-simple-zones/metadata.json
Labels: bicep

#12031 Update quickstart subscription-role-assignment
  subscription-deployments/subscription-role-assignment/README.md
  subscription-deployments/subscription-role-assignment/azuredeploy.json
  subscription-deployments/subscription-role-assignment/main.bicep
  subscription-deployments/subscription-role-assignment/metadata.json
Labels: manual validation required, bicep

#12032 Update sample tenant-role-assignment
  tenant-deployments/tenant-role-assignment/README.md
  tenant-deployments/tenant-role-assignment/azuredeploy.json
  tenant-deployments/tenant-role-assignment/main.bicep
  tenant-deployments/tenant-role-assignment/metadata.json
Labels: manual validation required, bicep

#12030 Update sample create-role-def
  subscription-deployments/create-role-def/README.md
  subscription-deployments/create-role-def/azuredeploy.json
  subscription-deployments/create-role-def/main.bicep
  subscription-deployments/create-role-def/metadata.json
Labels: manual validation required, bicep, bicep warnings, BPA

#12035 Update prereq.azuredeploy.json
  quickstarts/microsoft.apimanagement/api-management-create-with-internal-vnet-application-gateway/prereqs/prereq.azuredeploy.json
Labels: metadata violations, best practices violations

#11931 Windows VM with Azure secure baseline
  quickstarts/microsoft.compute/vm-windows-baseline/README.md
  quickstarts/microsoft.compute/vm-windows-baseline/azuredeploy.json
  quickstarts/microsoft.compute/vm-windows-baseline/azuredeploy.parameters.json
  quickstarts/microsoft.compute/vm-windows-baseline/main.bicep
  quickstarts/microsoft.compute/vm-windows-baseline/metadata.json
Labels: bicep, bicep warnings

#12033 Adding Sentinel automation rule template
  quickstarts/microsoft.securityinsights/sentinel-automation-rule/README.md
  quickstarts/microsoft.securityinsights/sentinel-automation-rule/azuredeploy.json
  quickstarts/microsoft.securityinsights/sentinel-automation-rule/azuredeploy.parameters.json
  quickstarts/microsoft.securityinsights/sentinel-automation-rule/metadata.json
  quickstarts/microsoft.securityinsights/sentinel-automation-rule/prereqs/.settings.json
  quickstarts/microsoft.securityinsights/sentinel-automation-rule/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.securityinsights/sentinel-automation-rule/prereqs/prereq.azuredeploy.parameters.json
Labels: best practices violations

#12006 End-to-end Azure ML set up reference implementation
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/README.md
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/azuredeploy.json
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/azuredeploy.parameters.json
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/main.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/metadata.json
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/applicationinsights.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/bastion.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/containerregistry.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/dsvmjumpbox.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/keyvault.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/machinelearning.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/machinelearningcompute.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/machinelearningnetworking.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/nsg.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/privateaks.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/storage.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/vnet.bicep
Labels: bicep

#12042 update quickstart redis-premium-vnet
  quickstarts/microsoft.cache/redis-premium-vnet/README.md
  quickstarts/microsoft.cache/redis-premium-vnet/azuredeploy.json
  quickstarts/microsoft.cache/redis-premium-vnet/main.bicep
  quickstarts/microsoft.cache/redis-premium-vnet/metadata.json
Labels: bicep

#12044 update quickstart traffic-manager-vm
  quickstarts/microsoft.network/traffic-manager-vm/README.md
  quickstarts/microsoft.network/traffic-manager-vm/TrafficManagerVMs.ps1
  quickstarts/microsoft.network/traffic-manager-vm/azuredeploy.json
  quickstarts/microsoft.network/traffic-manager-vm/azuredeploy.parameters.json
  quickstarts/microsoft.network/traffic-manager-vm/main.bicep
  quickstarts/microsoft.network/traffic-manager-vm/metadata.json
Labels: bicep

#12045 update quickstart api-management-key-vault-create
  quickstarts/microsoft.apimanagement/api-management-key-vault-create/README.md
  quickstarts/microsoft.apimanagement/api-management-key-vault-create/azuredeploy.json
  quickstarts/microsoft.apimanagement/api-management-key-vault-create/azuredeploy.parameters.json
  quickstarts/microsoft.apimanagement/api-management-key-vault-create/main.bicep
  quickstarts/microsoft.apimanagement/api-management-key-vault-create/metadata.json
Labels: bicep

#12046 add bicep for api-management-create-with-multiregion
  quickstarts/microsoft.apimanagement/api-management-create-with-multiregion/README.md
  quickstarts/microsoft.apimanagement/api-management-create-with-multiregion/azuredeploy.json
  quickstarts/microsoft.apimanagement/api-management-create-with-multiregion/main.bicep
  quickstarts/microsoft.apimanagement/api-management-create-with-multiregion/metadata.json
Labels: bicep

#12058 add quickstart for subnet-add-vnet-existing
  quickstarts/microsoft.network/subnet-add-vnet-existing/README.md
  quickstarts/microsoft.network/subnet-add-vnet-existing/azuredeploy.json
  quickstarts/microsoft.network/subnet-add-vnet-existing/main.bicep
  quickstarts/microsoft.network/subnet-add-vnet-existing/metadata.json
  quickstarts/microsoft.network/subnet-add-vnet-existing/prereqs/prereq.azuredeploy.json
Labels: bicep

#12059 update quickstart virtual-wan
  quickstarts/microsoft.network/virtual-wan/README.md
  quickstarts/microsoft.network/virtual-wan/azuredeploy.json
  quickstarts/microsoft.network/virtual-wan/azuredeploy.parameters.json
  quickstarts/microsoft.network/virtual-wan/main.bicep
  quickstarts/microsoft.network/virtual-wan/metadata.json
Labels: bicep
