Repository Azure/azure-quickstart-templates, pull requests merged in 2021-09, with the labels that each got.

#11821 Update OS
  application-workloads/sccm/sccm-technicalpreview/azuredeploy.json
  application-workloads/sccm/sccm-technicalpreview/metadata.json
Labels: best practices violations

#11820 Update OS
  application-workloads/sccm/sccm-currentbranch/azuredeploy.json
  application-workloads/sccm/sccm-currentbranch/metadata.json
Labels: best practices violations

#11816 Updated note on sql mi deployment
  quickstarts/microsoft.sql/sqlmi-new-vnet-w-diagnostic-settings/README.md
  quickstarts/microsoft.sql/sqlmi-new-vnet-w-jumpbox/README.md
  quickstarts/microsoft.sql/sqlmi-new-vnet-w-point-to-site-vpn/README.md
  quickstarts/microsoft.sql/sqlmi-new-vnet/README.md
Labels: bicep

#11759 New from bicep example: 101/function-http-trigger
  quickstarts/microsoft.web/function-http-trigger/README.md
  quickstarts/microsoft.web/function-http-trigger/azuredeploy.json
  quickstarts/microsoft.web/function-http-trigger/azuredeploy.parameters.json
  quickstarts/microsoft.web/function-http-trigger/main.bicep
  quickstarts/microsoft.web/function-http-trigger/metadata.json
  quickstarts/microsoft.web/function-http-trigger/run.csx
Labels: needs/author feedback, bicep, new bicep example

#11796 update /application-workloads/kemp/kemp-loadmaster-ha-pair
  application-workloads/kemp/kemp-loadmaster-ha-pair/azuredeploy.json
  application-workloads/kemp/kemp-loadmaster-ha-pair/azuredeploy.parameters.json
  application-workloads/kemp/kemp-loadmaster-ha-pair/metadata.json
Labels: best practices violations

#11840 Cse msi sample
  demos/vm-cse-msi/README.md
  demos/vm-cse-msi/azuredeploy.json
  demos/vm-cse-msi/azuredeploy.parameters.json
  demos/vm-cse-msi/main.bicep
  demos/vm-cse-msi/metadata.json
Labels: bicep

#11835 Update azuredeploy.json
  quickstarts/microsoft.servicebus/servicebus-private-endpoint/azuredeploy.json
Labels: metadata violations, best practices violations

#11789 QuickStarts templates for App Service Environment v3
  quickstarts/microsoft.web/web-app-asp-app-on-asev3-create/README.md
  quickstarts/microsoft.web/web-app-asp-app-on-asev3-create/azuredeploy.json
  quickstarts/microsoft.web/web-app-asp-app-on-asev3-create/azuredeploy.parameters.json
  quickstarts/microsoft.web/web-app-asp-app-on-asev3-create/main.bicep
  quickstarts/microsoft.web/web-app-asp-app-on-asev3-create/metadata.json
  quickstarts/microsoft.web/web-app-asp-app-on-asev3-create/modules/privatednszone.bicep
  quickstarts/microsoft.web/web-app-asp-app-on-asev3-create/modules/site.bicep
  quickstarts/microsoft.web/web-app-asp-app-on-asev3-create/modules/subnet.bicep
Labels: bicep, bicep warnings

#11829 quickstart recovery services vault with backup policies
  quickstarts/microsoft.recoveryservices/recovery-services-create-vault-with-backup-policies/README.md
  quickstarts/microsoft.recoveryservices/recovery-services-create-vault-with-backup-policies/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-create-vault-with-backup-policies/azuredeploy.parameters.json
  quickstarts/microsoft.recoveryservices/recovery-services-create-vault-with-backup-policies/main.bicep
  quickstarts/microsoft.recoveryservices/recovery-services-create-vault-with-backup-policies/metadata.json
Labels: best practices violations, bicep

#11843 Update template SharePoint
  application-workloads/sharepoint/sharepoint-adfs/CHANGELOG.md
  application-workloads/sharepoint/sharepoint-adfs/README.md
  application-workloads/sharepoint/sharepoint-adfs/azuredeploy.json
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureFEVM.ps1
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureFEVM.zip
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureSPVM.ps1
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureSPVM.zip
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureSQLVM.zip
  application-workloads/sharepoint/sharepoint-adfs/metadata.json
Labels: best practices violations

#11856 Airflow fixed DB connection string
  application-workloads/airflow/airflow-postgres-app-services/azuredeploy.json
  application-workloads/airflow/airflow-postgres-app-services/metadata.json
Labels: best practices violations

#11849 Disable private link service for NPIP CI &cluster
  quickstarts/microsoft.machinelearningservices/machine-learning-advanced/azuredeploy.json
  quickstarts/microsoft.machinelearningservices/machine-learning-advanced/metadata.json
Labels: metadata violations, best practices violations

#11846 Imagebuilder/patch1
  demos/imagebuilder-windowsbaseline/azuredeploy.json
  demos/imagebuilder-windowsbaseline/main.bicep
Labels: bicep, bicep warnings

#11857 Update sample - front-door-standard-premium-application-gateway-public
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/README.md
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/azuredeploy.parameters.json
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/metadata.json
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/modules/application-gateway.bicep
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/prereqs/prereq.azuredeploy.bicep
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/prereqs/prereq.azuredeploy.parameters.json
  quickstarts/microsoft.network/front-door-standard-premium-application-gateway-public/prereqs/scripts/enable-storage-static-website.ps1
Labels: bicep

#11858 Update sample - front-door-standard-premium-waf-custom
  quickstarts/microsoft.network/front-door-standard-premium-waf-custom/README.md
  quickstarts/microsoft.network/front-door-standard-premium-waf-custom/azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-waf-custom/azuredeploy.parameters.json
  quickstarts/microsoft.network/front-door-standard-premium-waf-custom/main.bicep
  quickstarts/microsoft.network/front-door-standard-premium-waf-custom/metadata.json
  quickstarts/microsoft.network/front-door-standard-premium-waf-custom/prereqs/prereq.azuredeploy.bicep
  quickstarts/microsoft.network/front-door-standard-premium-waf-custom/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-waf-custom/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep

#11859 Update sample - front-door-standard-premium-rule-set
  quickstarts/microsoft.network/front-door-standard-premium-rule-set/README.md
  quickstarts/microsoft.network/front-door-standard-premium-rule-set/azuredeploy.parameters.json
  quickstarts/microsoft.network/front-door-standard-premium-rule-set/metadata.json
  quickstarts/microsoft.network/front-door-standard-premium-rule-set/prereqs/prereq.azuredeploy.bicep
  quickstarts/microsoft.network/front-door-standard-premium-rule-set/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-rule-set/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep

#11860 Update sample - front-door-standard-premium-rate-limit
  quickstarts/microsoft.network/front-door-standard-premium-rate-limit/README.md
  quickstarts/microsoft.network/front-door-standard-premium-rate-limit/azuredeploy.parameters.json
  quickstarts/microsoft.network/front-door-standard-premium-rate-limit/metadata.json
  quickstarts/microsoft.network/front-door-standard-premium-rate-limit/prereqs/prereq.azuredeploy.bicep
  quickstarts/microsoft.network/front-door-standard-premium-rate-limit/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-rate-limit/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep

#11861 Update sample - front-door-standard-premium-geo-filtering
  quickstarts/microsoft.network/front-door-standard-premium-geo-filtering/README.md
  quickstarts/microsoft.network/front-door-standard-premium-geo-filtering/azuredeploy.parameters.json
  quickstarts/microsoft.network/front-door-standard-premium-geo-filtering/metadata.json
  quickstarts/microsoft.network/front-door-standard-premium-geo-filtering/prereqs/prereq.azuredeploy.bicep
  quickstarts/microsoft.network/front-door-standard-premium-geo-filtering/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium-geo-filtering/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep

#11862 Update sample - front-door-standard-premium
  quickstarts/microsoft.network/front-door-standard-premium/azuredeploy.parameters.json
  quickstarts/microsoft.network/front-door-standard-premium/metadata.json
  quickstarts/microsoft.network/front-door-standard-premium/prereqs/prereq.azuredeploy.bicep
  quickstarts/microsoft.network/front-door-standard-premium/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.network/front-door-standard-premium/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep

#11762 New from bicep example: 201/log-analytics-with-solutions-and-diagnostics
  quickstarts/microsoft.insights/log-analytics-with-solutions-and-diagnostics/README.md
  quickstarts/microsoft.insights/log-analytics-with-solutions-and-diagnostics/azuredeploy.json
  quickstarts/microsoft.insights/log-analytics-with-solutions-and-diagnostics/azuredeploy.parameters.json
  quickstarts/microsoft.insights/log-analytics-with-solutions-and-diagnostics/main.bicep
  quickstarts/microsoft.insights/log-analytics-with-solutions-and-diagnostics/metadata.json
Labels: needs/author feedback, best practices violations, bicep

#9626 Adding a new example to purchase an App Service Managed Certificate (Free Certificate) for APEX (aka root) domain
  quickstarts/microsoft.web/app-service-managed-certificate-apex/README.md
  quickstarts/microsoft.web/app-service-managed-certificate-apex/azuredeploy.json
  quickstarts/microsoft.web/app-service-managed-certificate-apex/azuredeploy.parameters.json
  quickstarts/microsoft.web/app-service-managed-certificate-apex/metadata.json
  quickstarts/microsoft.web/app-service-managed-certificate-apex/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.web/app-service-managed-certificate-apex/prereqs/prereq.azuredeploy.parameters.json
Labels: manual validation required

#11873 Update from bicep sample 201/aci-sftp-files
  quickstarts/microsoft.containerinstance/aci-sftp-files/azuredeploy.json
  quickstarts/microsoft.containerinstance/aci-sftp-files/main.bicep
  quickstarts/microsoft.containerinstance/aci-sftp-files/metadata.json
Labels: bicep

#11869 update from bicep example
  quickstarts/microsoft.documentdb/cosmosdb-webapp/azuredeploy.json
  quickstarts/microsoft.documentdb/cosmosdb-webapp/main.bicep
  quickstarts/microsoft.documentdb/cosmosdb-webapp/metadata.json
Labels: bicep

#11872 Update from bicep sample 101/hdinsight-spark-linux
  quickstarts/microsoft.hdinsight/hdinsight-spark-linux/azuredeploy.json
  quickstarts/microsoft.hdinsight/hdinsight-spark-linux/main.bicep
  quickstarts/microsoft.hdinsight/hdinsight-spark-linux/metadata.json
Labels: bicep

#11871 Update from bicep sample 101/function-premium-vnet-integration
  quickstarts/microsoft.web/function-premium-vnet-integration/azuredeploy.json
  quickstarts/microsoft.web/function-premium-vnet-integration/main.bicep
  quickstarts/microsoft.web/function-premium-vnet-integration/metadata.json
Labels: bicep

#11870 Update from bicep sample 101/data-factory-v2-blob-to-blob-copy
  quickstarts/microsoft.datafactory/data-factory-v2-blob-to-blob-copy/azuredeploy.json
  quickstarts/microsoft.datafactory/data-factory-v2-blob-to-blob-copy/main.bicep
  quickstarts/microsoft.datafactory/data-factory-v2-blob-to-blob-copy/metadata.json
Labels: bicep

#11875 Update from bicep sample 201/aci-wordpress
  application-workloads/wordpress/aci-wordpress/azuredeploy.json
  application-workloads/wordpress/aci-wordpress/main.bicep
  application-workloads/wordpress/aci-wordpress/metadata.json
Labels: bicep

#11876 Update from bicep sample 201/private-aks-cluster
  demos/private-aks-cluster/aks.bicep
  demos/private-aks-cluster/azuredeploy.json
  demos/private-aks-cluster/jumpbox.bicep
  demos/private-aks-cluster/metadata.json
Labels: bicep

#11885 Set dnssec-validation to no for dns-forwarder demo
  demos/dns-forwarder/forwarderSetup.sh
Labels: metadata violations, best practices violations

#11887 Update from bicep example
  quickstarts/microsoft.cache/redis-premium-persistence/azuredeploy.json
  quickstarts/microsoft.cache/redis-premium-persistence/main.bicep
  quickstarts/microsoft.cache/redis-premium-persistence/metadata.json
Labels: bicep

#11867 Azure ML refresh: organize workspace in vnet example
  quickstarts/microsoft.machinelearningservices/machine-learning-advanced/metadata.json
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet/README.md
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet/azuredeploy.json
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet/azuredeploy.parameters.json
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet/azuredeploy.parameters.us.json
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet/metadata.json
Labels: merge-conflict, metadata violations, best practices violations

#11893 - update subnets to be created as part of the vnet resource [vnet-two-subnets2]
  quickstarts/microsoft.network/vnet-two-subnets/azuredeploy.json
  quickstarts/microsoft.network/vnet-two-subnets/main.bicep
  quickstarts/microsoft.network/vnet-two-subnets/metadata.json
Labels: bicep

#11894 - update subnet to be created as part of the vnet resource
  quickstarts/microsoft.servicebus/servicebus-namespace-vnet/azuredeploy.json
  quickstarts/microsoft.servicebus/servicebus-namespace-vnet/main.bicep
  quickstarts/microsoft.servicebus/servicebus-namespace-vnet/metadata.json
Labels: best practices violations, bicep

#11896 - update subnets to be created as part of the vnet resource
  quickstarts/microsoft.network/aad-domainservices/azuredeploy.json
  quickstarts/microsoft.network/aad-domainservices/main.bicep
  quickstarts/microsoft.network/aad-domainservices/metadata.json
Labels: manual validation required, bicep

#11897 - remove duplicate subnet resource, already created as part of vnet
  quickstarts/microsoft.network/nat-gateway-vnet/azuredeploy.json
  quickstarts/microsoft.network/nat-gateway-vnet/main.bicep
  quickstarts/microsoft.network/nat-gateway-vnet/metadata.json
Labels: bicep

#11903 - update subnets to be created as part of the vnet resource
  quickstarts/microsoft.web/webapp-privateendpoint-vnet-injection/azuredeploy.json
  quickstarts/microsoft.web/webapp-privateendpoint-vnet-injection/main.bicep
  quickstarts/microsoft.web/webapp-privateendpoint-vnet-injection/metadata.json
Labels: best practices violations, bicep
