Repository Azure/azure-quickstart-templates, pull requests merged in 2021-03, with the labels that each got.

#8704 Cross-region load balancer with regional load balancers
  101-load-balancer-cross-region/README.md
  101-load-balancer-cross-region/azuredeploy.json
  101-load-balancer-cross-region/azuredeploy.parameters.json
  101-load-balancer-cross-region/metadata.json
Labels: reviewed

#8814 Update OS disk size for openshift clusters
  ibm-cloud-pak-for-data/PARAMETERS.md
  ibm-cloud-pak-for-data/scripts/deployOpenShift.sh
Labels: manual validation

#8808 Add sample: Function App with Azure Storage private endpoints
  101-function-app-storage-private-endpoints/README.md
  101-function-app-storage-private-endpoints/azuredeploy.json
  101-function-app-storage-private-endpoints/azuredeploy.parameters.json
  101-function-app-storage-private-endpoints/images/function-app-storage-privateendponts.png
  101-function-app-storage-private-endpoints/metadata.json
  101-function-app-storage-private-endpoints/prereqs/prereq.azuredeploy.json
  101-function-app-storage-private-endpoints/prereqs/prereq.azuredeploy.parameters.json
Labels: reviewed

#8860 Add sample: Front Door Standard/Premium (Preview) with Application Gateway origin
  201-front-door-standard-premium-application-gateway-public/README.md
  201-front-door-standard-premium-application-gateway-public/azuredeploy.json
  201-front-door-standard-premium-application-gateway-public/azuredeploy.parameters.json
  201-front-door-standard-premium-application-gateway-public/images/diagram.png
  201-front-door-standard-premium-application-gateway-public/main.bicep
  201-front-door-standard-premium-application-gateway-public/metadata.json
  201-front-door-standard-premium-application-gateway-public/modules/application-gateway.bicep
  201-front-door-standard-premium-application-gateway-public/modules/network.bicep
  201-front-door-standard-premium-application-gateway-public/prereqs/prereq.azuredeploy.bicep
  201-front-door-standard-premium-application-gateway-public/prereqs/prereq.azuredeploy.json
  201-front-door-standard-premium-application-gateway-public/prereqs/prereq.azuredeploy.parameters.json
Labels: metadata, readme

#8865 Update AFDX sample - Front Door Standard/Premium (Preview) with Azure Storage static website origin
  201-front-door-standard-premium-storage-static-website/README.md
  201-front-door-standard-premium-storage-static-website/azuredeploy.json
  201-front-door-standard-premium-storage-static-website/metadata.json
  201-front-door-standard-premium-storage-static-website/modules/front-door.bicep
  201-front-door-standard-premium-storage-static-website/modules/storage-static-website.bicep
Labels: metadata, readme

#8837 Update to ev3 and HDI 4.0
  101-hdinsight-spark-linux-vnet/README.md
  101-hdinsight-spark-linux-vnet/azuredeploy.json
  101-hdinsight-spark-linux-vnet/metadata.json
Labels: metadata, readme

#8877 Updates to ev3 and HDI 4
  101-hdinsight-interactive-hive/azuredeploy.json
  101-hdinsight-interactive-hive/metadata.json
Labels: metadata, readme

#8880 Fixed typo in readme
  101-backup-create-storage-account-enable-protection/README.md
Labels: metadata, readme

#8903 update table autoscale api-version
  101-cosmosdb-table-autoscale/azuredeploy.json
  101-cosmosdb-table-autoscale/metadata.json
Labels: metadata, readme

#8902 update table api-version
  101-cosmosdb-table/azuredeploy.json
  101-cosmosdb-table/metadata.json
Labels: metadata, readme

#8900 update sql autoscale api-version
  101-cosmosdb-sql-autoscale/azuredeploy.json
  101-cosmosdb-sql-autoscale/metadata.json
Labels: metadata, readme

#8898 update sql api version
  101-cosmosdb-sql/azuredeploy.json
  101-cosmosdb-sql/metadata.json
Labels: metadata, readme

#8897 update private endpoints api-version
  101-cosmosdb-private-endpoint/azuredeploy.json
  101-cosmosdb-private-endpoint/azuredeploy.parameters.us.json
  101-cosmosdb-private-endpoint/metadata.json
Labels: metadata, readme

#8889 Update api-version for cassandra template
  101-cosmosdb-cassandra/README.md
  101-cosmosdb-cassandra/azuredeploy.json
  101-cosmosdb-cassandra/metadata.json
Labels: metadata, readme

#8901 update sql sprocs api-version
  101-cosmosdb-sql-container-sprocs/azuredeploy.json
  101-cosmosdb-sql-container-sprocs/metadata.json
Labels: best practices, metadata, readme

#8899 update analytical store api-version, add gov cloud
  101-cosmosdb-sql-analytical-store/README.md
  101-cosmosdb-sql-analytical-store/azuredeploy.json
  101-cosmosdb-sql-analytical-store/metadata.json
Labels: best practices, metadata, readme

#8896 update mongo autoscale api-version
  101-cosmosdb-mongodb-autoscale/README.md
  101-cosmosdb-mongodb-autoscale/azuredeploy.json
  101-cosmosdb-mongodb-autoscale/azuredeploy.parameters.json
  101-cosmosdb-mongodb-autoscale/azuredeploy.parameters.us.json
  101-cosmosdb-mongodb-autoscale/metadata.json
Labels: best practices, metadata, readme

#8895 update mongodb api version
  101-cosmosdb-mongodb/README.md
  101-cosmosdb-mongodb/azuredeploy.json
  101-cosmosdb-mongodb/azuredeploy.parameters.json
  101-cosmosdb-mongodb/azuredeploy.parameters.us.json
  101-cosmosdb-mongodb/metadata.json
Labels: best practices, metadata, readme

#8891 update multi-api template api-version
  101-cosmosdb-create-multi-region-account/azuredeploy.json
  101-cosmosdb-create-multi-region-account/metadata.json
Labels: best practices, metadata, readme

#8841 Change download method
  sccm-currentbranch/DSC/DCConfiguration.zip
  sccm-currentbranch/DSC/TemplateHelpDSC/TemplateHelpDSC.psm1
  sccm-currentbranch/metadata.json
Labels: best practices

#8930 move broken sample
  application-workloads/apprenda60-small/README.md
  application-workloads/apprenda60-small/apprenda60PlatformNode.ps1
  application-workloads/apprenda60-small/azuredeploy.json
  application-workloads/apprenda60-small/azuredeploy.parameters.json
  application-workloads/apprenda60-small/domainControllerSetup.ps1
  application-workloads/apprenda60-small/linuxSetup.sh
  application-workloads/apprenda60-small/metadata.json
Labels: best practices, metadata, readme

#8942 Update title and README to make explicit this Quickstart is for SAS Viya 3.5
  sas-viya/README.md
  sas-viya/metadata.json
Labels: best practices
