Repository Azure/azure-quickstart-templates, pull requests merged in 2022-03, with the labels that each got.

#12187 Azure Digital Twins sample with Private Link and Azure Functions in Virtual Network
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/README.md
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/azuredeploy.json
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/azuredeploy.parameters.json
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/images/diagram.png
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/main.bicep
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/metadata.json
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/modules/digitaltwins.bicep
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/modules/function.bicep
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/modules/network.bicep
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/modules/privatelink.bicep
  quickstarts/microsoft.digitaltwins/digitaltwins-with-function-private-link/modules/roleassignment.bicep
Labels: best practices violations, bicep

#12238 Add quickstart - Front Door Standard/Premium with custom domain
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain/README.md
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain/azuredeploy.parameters.json
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain/main.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain/metadata.json
Labels: bicep

#12239 Add quickstart - Front Door Standard/Premium with custom domain and customer-managed TLS certificate
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-customer-certificate/README.md
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-customer-certificate/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-customer-certificate/azuredeploy.parameters.json
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-customer-certificate/main.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-customer-certificate/metadata.json
Labels: bicep

#12240 Add quickstart - Front Door Standard/Premium with Azure DNS and custom domain
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-azure-dns/README.md
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-azure-dns/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-azure-dns/azuredeploy.parameters.json
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-azure-dns/main.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium-custom-domain-azure-dns/metadata.json
Labels: bicep

#12279 Container instance - update api versions
  quickstarts/microsoft.containerinstance/aci-linuxcontainer-public-ip/azuredeploy.json
  quickstarts/microsoft.containerinstance/aci-linuxcontainer-public-ip/main.bicep
  quickstarts/microsoft.containerinstance/aci-linuxcontainer-public-ip/metadata.json
Labels: bicep

#12280 Update for bicep
  quickstarts/microsoft.consumption/create-budget/README.md
  quickstarts/microsoft.consumption/create-budget/azuredeploy.json
  quickstarts/microsoft.consumption/create-budget/azuredeploy.parameters.json
  quickstarts/microsoft.consumption/create-budget/main.bicep
  quickstarts/microsoft.consumption/create-budget/metadata.json
Labels: manual validation required, bicep

#12282 Bicep/budget onefilter
  quickstarts/microsoft.consumption/create-budget-onefilter/README.md
  quickstarts/microsoft.consumption/create-budget-onefilter/azuredeploy.json
  quickstarts/microsoft.consumption/create-budget-onefilter/azuredeploy.parameters.json
  quickstarts/microsoft.consumption/create-budget-onefilter/main.bicep
  quickstarts/microsoft.consumption/create-budget-onefilter/metadata.json
Labels: manual validation required, bicep

#12281 Updates for bicep file
  quickstarts/microsoft.consumption/create-budget-simple/README.md
  quickstarts/microsoft.consumption/create-budget-simple/azuredeploy.json
  quickstarts/microsoft.consumption/create-budget-simple/azuredeploy.parameters.json
  quickstarts/microsoft.consumption/create-budget-simple/main.bicep
  quickstarts/microsoft.consumption/create-budget-simple/metadata.json
Labels: manual validation required, bicep

#12271 Adding Bicep template for basic App Configuration Store
  quickstarts/microsoft.appconfiguration/app-configuration-store/README.md
  quickstarts/microsoft.appconfiguration/app-configuration-store/azuredeploy.json
  quickstarts/microsoft.appconfiguration/app-configuration-store/main.bicep
  quickstarts/microsoft.appconfiguration/app-configuration-store/metadata.json
Labels: bicep

#12246 Update cdn-with-ruleseengine-cacheoverride
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-cacheoverride/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-cacheoverride/main.bicep
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-cacheoverride/metadata.json
Labels: bicep

#12150 Updates for Bicep
  quickstarts/microsoft.web/app-service-docs-linux/README.md
  quickstarts/microsoft.web/app-service-docs-linux/azuredeploy.json
  quickstarts/microsoft.web/app-service-docs-linux/main.bicep
  quickstarts/microsoft.web/app-service-docs-linux/metadata.json
Labels: bicep

#12215 adding bicep template to recovery-services-create-vault-enable-diagnostics
  quickstarts/microsoft.recoveryservices/recovery-services-create-vault-enable-diagnostics/README.md
  quickstarts/microsoft.recoveryservices/recovery-services-create-vault-enable-diagnostics/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-create-vault-enable-diagnostics/main.bicep
  quickstarts/microsoft.recoveryservices/recovery-services-create-vault-enable-diagnostics/metadata.json
Labels: bicep, bicep warnings

#12237 adding bicep support for backup-classic-resource-manager-vms
  quickstarts/microsoft.recoveryservices/recovery-services-backup-classic-resource-manager-vms/README.md
  quickstarts/microsoft.recoveryservices/recovery-services-backup-classic-resource-manager-vms/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-backup-classic-resource-manager-vms/main.bicep
  quickstarts/microsoft.recoveryservices/recovery-services-backup-classic-resource-manager-vms/metadata.json
Labels: manual validation required, bicep

#12241 Microsoft advisory - update the api versions and create the Bicep file.
  quickstarts/microsoft.insights/insights-alertrules-servicehealth/README.md
  quickstarts/microsoft.insights/insights-alertrules-servicehealth/azuredeploy.json
  quickstarts/microsoft.insights/insights-alertrules-servicehealth/main.bicep
  quickstarts/microsoft.insights/insights-alertrules-servicehealth/metadata.json
Labels: bicep

#12249 Update cdn-with-ruleseengine-urlsigning
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-urlsigning/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-urlsigning/main.bicep
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-urlsigning/metadata.json
Labels: bicep, bicep warnings

#12248 Update cdn-with-ruleseengine-rewriteandredirect
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-rewriteandredirect/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-rewriteandredirect/main.bicep
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-rewriteandredirect/metadata.json
Labels: bicep

#12247 Update cdn-with-ruleseengine-responseheader
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-responseheader/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-responseheader/main.bicep
  quickstarts/microsoft.cdn/cdn-with-ruleseengine-responseheader/metadata.json
Labels: bicep

#12245 Update cdn-customize
  quickstarts/microsoft.cdn/cdn-customize/README.md
  quickstarts/microsoft.cdn/cdn-customize/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-customize/main.bicep
  quickstarts/microsoft.cdn/cdn-customize/metadata.json
Labels: bicep

#12250 Update cdn-with-storage-account
  quickstarts/microsoft.cdn/cdn-with-storage-account/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-storage-account/main.bicep
  quickstarts/microsoft.cdn/cdn-with-storage-account/metadata.json
Labels: bicep

#12251 Update cdn-with-web-app
  quickstarts/microsoft.cdn/cdn-with-web-app/azuredeploy.json
  quickstarts/microsoft.cdn/cdn-with-web-app/main.bicep
  quickstarts/microsoft.cdn/cdn-with-web-app/metadata.json
Labels: bicep, PORTAL SAMPLE

#12256 Update front-door-standard-premium
  quickstarts/microsoft.cdn/front-door-standard-premium/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-standard-premium/main.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium/metadata.json
Labels: bicep

#12258 API Management - update the api versions
  quickstarts/microsoft.apimanagement/azure-api-management-create/azuredeploy.json
  quickstarts/microsoft.apimanagement/azure-api-management-create/main.bicep
  quickstarts/microsoft.apimanagement/azure-api-management-create/metadata.json
Labels: bicep

#12259 Add bicep for webapp-basic-windows
  quickstarts/microsoft.web/webapp-basic-windows/README.md
  quickstarts/microsoft.web/webapp-basic-windows/azuredeploy.json
  quickstarts/microsoft.web/webapp-basic-windows/main.bicep
  quickstarts/microsoft.web/webapp-basic-windows/metadata.json
Labels: bicep

#12274 VM Linus - update the api versions
  quickstarts/microsoft.compute/vm-simple-linux/azuredeploy.json
  quickstarts/microsoft.compute/vm-simple-linux/main.bicep
  quickstarts/microsoft.compute/vm-simple-linux/metadata.json
Labels: bicep, PORTAL SAMPLE

#12252 Update front-door-premium-app-service-private-link
  quickstarts/microsoft.cdn/front-door-premium-app-service-private-link/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-premium-app-service-private-link/metadata.json
  quickstarts/microsoft.cdn/front-door-premium-app-service-private-link/modules/front-door.bicep
Labels: bicep, bicep warnings

#12254 Update front-door-premium-storage-blobs-private-link
  quickstarts/microsoft.cdn/front-door-premium-storage-blobs-private-link/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-premium-storage-blobs-private-link/metadata.json
  quickstarts/microsoft.cdn/front-door-premium-storage-blobs-private-link/modules/front-door.bicep
Labels: bicep, bicep warnings

#12253 Update front-door-premium-function-private-link
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/metadata.json
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/modules/front-door.bicep
Labels: best practices violations, bicep, bicep warnings

#12255 Update front-door-standard-premium-function-public
  quickstarts/microsoft.cdn/front-door-standard-premium-function-public/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-standard-premium-function-public/main.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium-function-public/metadata.json
Labels: best practices violations, bicep, bicep warnings

#12257 Update front-door-premium-vm-private-link
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/metadata.json
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/modules/front-door.bicep
Labels: bicep, bicep warnings

#12218 Edited LB probe settings to fix issue with number of probes and change probe to TCP from HTTP
  quickstarts/microsoft.network/load-balancer-standard-create/azuredeploy.json
  quickstarts/microsoft.network/load-balancer-standard-create/metadata.json
Labels: best practices violations

#12304 Backup - update resource API versions
  quickstarts/microsoft.recoveryservices/recovery-services-create-vm-and-configure-backup/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-create-vm-and-configure-backup/main.bicep
  quickstarts/microsoft.recoveryservices/recovery-services-create-vm-and-configure-backup/metadata.json
Labels: best practices violations, bicep

#12263 API Management - update the api versions and create the Bicep file
  quickstarts/microsoft.appconfiguration/app-configuration-store-kv/README.md
  quickstarts/microsoft.appconfiguration/app-configuration-store-kv/azuredeploy.json
  quickstarts/microsoft.appconfiguration/app-configuration-store-kv/main.bicep
  quickstarts/microsoft.appconfiguration/app-configuration-store-kv/metadata.json
Labels: bicep

#12318 ExpressRoute - update API versions and create Bicep file
  quickstarts/microsoft.network/expressroute-private-peering-vnet/README.md
  quickstarts/microsoft.network/expressroute-private-peering-vnet/azuredeploy.json
  quickstarts/microsoft.network/expressroute-private-peering-vnet/main.bicep
  quickstarts/microsoft.network/expressroute-private-peering-vnet/metadata.json
Labels: bicep

#12317 EventHub - update the resource API versions, and create the Bicep file
  quickstarts/microsoft.eventhub/eventhubs-create-namespace-and-eventhub/README.md
  quickstarts/microsoft.eventhub/eventhubs-create-namespace-and-eventhub/azuredeploy.json
  quickstarts/microsoft.eventhub/eventhubs-create-namespace-and-eventhub/main.bicep
  quickstarts/microsoft.eventhub/eventhubs-create-namespace-and-eventhub/metadata.json
Labels: bicep

#12315 DNS - create the Bicep file
  quickstarts/microsoft.network/azure-dns-new-zone/README.md
  quickstarts/microsoft.network/azure-dns-new-zone/azuredeploy.json
  quickstarts/microsoft.network/azure-dns-new-zone/main.bicep
  quickstarts/microsoft.network/azure-dns-new-zone/metadata.json
Labels: bicep

#12314 DevTestLab - create the Bicep file
  quickstarts/microsoft.devtestlab/dtl-create-lab-windows-vm-claimed/README.md
  quickstarts/microsoft.devtestlab/dtl-create-lab-windows-vm-claimed/azuredeploy.json
  quickstarts/microsoft.devtestlab/dtl-create-lab-windows-vm-claimed/main.bicep
  quickstarts/microsoft.devtestlab/dtl-create-lab-windows-vm-claimed/metadata.json
Labels: bicep

#12309 Defender of cloud - create the bicep file
  quickstarts/microsoft.security/securitycenter-create-automation-for-alertnamecontains/README.md
  quickstarts/microsoft.security/securitycenter-create-automation-for-alertnamecontains/azuredeploy.json
  quickstarts/microsoft.security/securitycenter-create-automation-for-alertnamecontains/main.bicep
  quickstarts/microsoft.security/securitycenter-create-automation-for-alertnamecontains/metadata.json
Labels: bicep

#12308 DDOS - update the resource API versions
  quickstarts/microsoft.network/create-and-enable-ddos-protection-plans/azuredeploy.json
  quickstarts/microsoft.network/create-and-enable-ddos-protection-plans/main.bicep
  quickstarts/microsoft.network/create-and-enable-ddos-protection-plans/metadata.json
Labels: bicep

#12307 Datafactory - update the resource API versions
  quickstarts/microsoft.datafactory/data-factory-v2-blob-to-blob-copy/azuredeploy.json
  quickstarts/microsoft.datafactory/data-factory-v2-blob-to-blob-copy/main.bicep
  quickstarts/microsoft.datafactory/data-factory-v2-blob-to-blob-copy/metadata.json
Labels: bicep

#12305 Database Migration - update the resource API versions and create the Bicep file.
  quickstarts/microsoft.datamigration/azure-database-migration-simple-deploy/README.md
  quickstarts/microsoft.datamigration/azure-database-migration-simple-deploy/azuredeploy.json
  quickstarts/microsoft.datamigration/azure-database-migration-simple-deploy/main.bicep
  quickstarts/microsoft.datamigration/azure-database-migration-simple-deploy/metadata.json
Labels: bicep

#12270 0308 erin batch
  quickstarts/microsoft.batch/batchaccount-with-storage/README.md
  quickstarts/microsoft.batch/batchaccount-with-storage/azuredeploy.json
  quickstarts/microsoft.batch/batchaccount-with-storage/main.bicep
  quickstarts/microsoft.batch/batchaccount-with-storage/metadata.json
Labels: bicep

#12261 Attestation - update api version and create a new bicep file
  quickstarts/microsoft.attestation/attestation-provider-create/README.md
  quickstarts/microsoft.attestation/attestation-provider-create/azuredeploy.json
  quickstarts/microsoft.attestation/attestation-provider-create/azuredeploy.parameters.json
  quickstarts/microsoft.attestation/attestation-provider-create/main.bicep
  quickstarts/microsoft.attestation/attestation-provider-create/metadata.json
Labels: bicep

#12312 Add quickstart template - Front Door Standard/Premium with API Management origin and private endpoint
  quickstarts/microsoft.cdn/front-door-premium-api-management-private-link/README.md
  quickstarts/microsoft.cdn/front-door-premium-api-management-private-link/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-premium-api-management-private-link/azuredeploy.parameters.json
  quickstarts/microsoft.cdn/front-door-premium-api-management-private-link/images/diagram.png
  quickstarts/microsoft.cdn/front-door-premium-api-management-private-link/main.bicep
  quickstarts/microsoft.cdn/front-door-premium-api-management-private-link/metadata.json
  quickstarts/microsoft.cdn/front-door-premium-api-management-private-link/modules/api-management.bicep
  quickstarts/microsoft.cdn/front-door-premium-api-management-private-link/modules/front-door.bicep
Labels: bicep

#12328 📝 Remove duplicate visualise button
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-static-website/README.md
Labels: bicep
