Repository Azure/azure-quickstart-templates, pull requests merged in 2022-02, with the labels that each got.

#12147 Update APIs, include bicep version
  quickstarts/microsoft.web/documentdb-webapp/README.md
  quickstarts/microsoft.web/documentdb-webapp/azuredeploy.json
  quickstarts/microsoft.web/documentdb-webapp/main.bicep
  quickstarts/microsoft.web/documentdb-webapp/metadata.json
Labels: bicep

#12145 Update Log Analytics API
  quickstarts/microsoft.insights/log-analytics-with-datasources-solutions/azuredeploy.json
  quickstarts/microsoft.insights/log-analytics-with-datasources-solutions/main.bicep
  quickstarts/microsoft.insights/log-analytics-with-datasources-solutions/metadata.json
Labels: bicep

#12118 added bicep example for front door managed waf ruleset
  quickstarts/microsoft.network/front-door-managed-waf-ruleset/README.md
  quickstarts/microsoft.network/front-door-managed-waf-ruleset/azuredeploy.json
  quickstarts/microsoft.network/front-door-managed-waf-ruleset/main.bicep
  quickstarts/microsoft.network/front-door-managed-waf-ruleset/metadata.json
Labels: bicep

#12043 add quickstart for storage-sftp
  quickstarts/microsoft.storage/storage-sftp/README.md
  quickstarts/microsoft.storage/storage-sftp/azuredeploy.json
  quickstarts/microsoft.storage/storage-sftp/azuredeploy.parameters.json
  quickstarts/microsoft.storage/storage-sftp/main.bicep
  quickstarts/microsoft.storage/storage-sftp/metadata.json
Labels: bicep, bicep warnings

#12163 update to new version and fix deployment errors
  application-workloads/jenkins/jenkins-cicd-container/Dockerfile
  application-workloads/jenkins/jenkins-cicd-container/README.md
  application-workloads/jenkins/jenkins-cicd-container/azuredeploy.json
  application-workloads/jenkins/jenkins-cicd-container/images/download-key.png
  application-workloads/jenkins/jenkins-cicd-container/images/portal-sshkey.png
  application-workloads/jenkins/jenkins-cicd-container/kubernetes/hello-world-deployment.yaml
  application-workloads/jenkins/jenkins-cicd-container/nested/jenkins.json
  application-workloads/jenkins/jenkins-cicd-container/package-lock.json
  application-workloads/jenkins/jenkins-cicd-container/package.json
  application-workloads/jenkins/jenkins-cicd-container/scripts/grafana/configure-grafana.sh
  application-workloads/jenkins/jenkins-cicd-container/scripts/grafana/dashboard-aks-target.json
  application-workloads/jenkins/jenkins-cicd-container/scripts/grafana/dashboard-aks.json
  application-workloads/jenkins/jenkins-cicd-container/scripts/grafana/dashboard-db.json
  application-workloads/jenkins/jenkins-cicd-container/scripts/grafana/dashboard.json
  application-workloads/jenkins/jenkins-cicd-container/scripts/grafana/install-grafana.sh
  application-workloads/jenkins/jenkins-cicd-container/scripts/jenkins/add-docker-build-job.sh
  application-workloads/jenkins/jenkins-cicd-container/scripts/jenkins/basic-docker-build.groovy
  application-workloads/jenkins/jenkins-cicd-container/scripts/jenkins/install_jenkins.sh
  application-workloads/jenkins/jenkins-cicd-container/scripts/jenkins/jenkins-acr-aks.sh
  application-workloads/jenkins/jenkins-cicd-container/server.js
Labels: metadata violations, best practices violations, readme violations, BPA

#12166 CPD 4.0.5 Changes
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/README.md
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/azuredeploy.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/metadata.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/nested/ocs.json
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakLite.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/deployCloudPakWKCCore.sh
  application-workloads/ibm-cloud-pak/ibm-cloud-pak-for-data/scripts/install-ocs.sh
Labels: manual validation required, best practices violations, BPA

#12167 Update README.md
  quickstarts/microsoft.compute/vm-monitoring-diagnostics-extension/README.md
Labels: metadata violations, best practices violations

#12174 Update-front-door-premium-vm-private-link
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/README.md
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/azuredeploy.parameters.json
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/images/diagram.png
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/main.bicep
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/metadata.json
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/modules/front-door.bicep
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/modules/load-balancer.bicep
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/modules/network.bicep
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/modules/private-link-service.bicep
  quickstarts/microsoft.cdn/front-door-premium-vm-private-link/modules/vm.bicep
  quickstarts/microsoft.network/front-door-premium-vm-private-link/metadata.json
Labels: best practices violations, bicep

#12178 Update README.md
  application-workloads/jenkins/jenkins-cicd-container/README.md
Labels: metadata violations, best practices violations, BPA

#12143 Corrected invalid URL to new file path
  quickstarts/microsoft.web/web-app-custom-domain-and-ssl/README.md
Labels: metadata violations, best practices violations

#12012 add bicep for data-share-share-storage-account
  quickstarts/microsoft.datashare/data-share-share-storage-account/README.md
  quickstarts/microsoft.datashare/data-share-share-storage-account/azuredeploy.json
  quickstarts/microsoft.datashare/data-share-share-storage-account/azuredeploy.parameters.json
  quickstarts/microsoft.datashare/data-share-share-storage-account/azuredeploy.parameters.us.json
  quickstarts/microsoft.datashare/data-share-share-storage-account/main.bicep
  quickstarts/microsoft.datashare/data-share-share-storage-account/metadata.json
Labels: bicep

#12181 Update front-door-standard-premium-api-management-external
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/README.md
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/api-management-policies/global.xml
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/azuredeploy.parameters.json
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/images/diagram.png
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/main.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/metadata.json
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/modules/api-management.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/modules/front-door.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium-api-management-external/modules/network.bicep
  quickstarts/microsoft.network/front-door-standard-premium-api-management-external/api-management-policies/.gitattributes
  quickstarts/microsoft.network/front-door-standard-premium-api-management-external/metadata.json
Labels: best practices violations, bicep

#12195 Update front-door-premium-function-private-link
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/README.md
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/azuredeploy.json
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/azuredeploy.parameters.json
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/images/diagram.png
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/main.bicep
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/metadata.json
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/modules/front-door.bicep
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/modules/function.bicep
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/scripts/.gitattributes
  quickstarts/microsoft.cdn/front-door-premium-function-private-link/scripts/run.csx
  quickstarts/microsoft.network/front-door-premium-function-private-link/metadata.json
Labels: best practices violations, bicep

#12158 Adding bicep file for webapp managed mysql quickstart
  quickstarts/microsoft.web/webapp-linux-managed-mysql/README.md
  quickstarts/microsoft.web/webapp-linux-managed-mysql/azuredeploy.json
  quickstarts/microsoft.web/webapp-linux-managed-mysql/main.bicep
  quickstarts/microsoft.web/webapp-linux-managed-mysql/metadata.json
Labels: bicep

#12197 Update azuredeploy.parameters.us.json
  quickstarts/microsoft.eventhub/eventhub-create-namespace-geo-recoveryconfiguration/azuredeploy.parameters.us.json
Labels: metadata violations, best practices violations

#12201 Add bicep template for recovery-services-vm-workload-backup
  quickstarts/microsoft.recoveryservices/recovery-services-vm-workload-backup/README.md
  quickstarts/microsoft.recoveryservices/recovery-services-vm-workload-backup/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-vm-workload-backup/azuredeploy.parameters.json
  quickstarts/microsoft.recoveryservices/recovery-services-vm-workload-backup/main.bicep
  quickstarts/microsoft.recoveryservices/recovery-services-vm-workload-backup/metadata.json
  quickstarts/microsoft.recoveryservices/recovery-services-vm-workload-backup/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-vm-workload-backup/prereqs/prereq.main.bicep
Labels: bicep, bicep warnings

#12206 Update description for Product SKU for accuracy
  application-workloads/wordpress/wordpress-app-service-mysql-inapp/azuredeploy.json
Labels: metadata violations, BPA

#12209 Working template for Microsoft Sentinel
  quickstarts/microsoft.operationsmanagement/azure-sentinel/azuredeploy.json
  quickstarts/microsoft.operationsmanagement/azure-sentinel/azuredeploy.parameters.json
  quickstarts/microsoft.operationsmanagement/azure-sentinel/main.bicep
  quickstarts/microsoft.operationsmanagement/azure-sentinel/metadata.json
Labels: bicep

#12214 Update metadata.json
  quickstarts/microsoft.compute/sig-image-version-create/metadata.json
Labels: metadata violations, best practices violations

#12225 Update README.md
  quickstarts/microsoft.compute/sig-image-version-create/README.md
Labels: metadata violations, best practices violations

#12224 Update README.md
  quickstarts/microsoft.compute/sig-image-definition-create/README.md
Labels: metadata violations, best practices violations

#12223 Update README.md
  quickstarts/microsoft.compute/sig-create/README.md
Labels: metadata violations, best practices violations

#12222 Update metadata.json
  quickstarts/microsoft.compute/sig-create/metadata.json
Labels: metadata violations, best practices violations

#12221 Update metadata.json
  quickstarts/microsoft.compute/sig-image-definition-create/metadata.json
Labels: metadata violations, best practices violations

#12220 Update metadata.json
  quickstarts/microsoft.compute/sig-create/metadata.json
Labels: best practices violations

#12226 Fix #12211 for app-workload windows vm o365
  application-workloads/office/windows-vm-o365/DeployO365SilentWithVersion.ps1
  application-workloads/office/windows-vm-o365/README.md
  application-workloads/office/windows-vm-o365/azuredeploy.json
  application-workloads/office/windows-vm-o365/main.bicep
  application-workloads/office/windows-vm-o365/metadata.json
Labels: bicep

#12231 Replace depecated A2 v1 Sizes wiht A2_v2
  application-workloads/rds/rds-deployment/azuredeploy.json
Labels: metadata violations, best practices violations

#12229 Added bicep support for recovery-services-backup-file-share
  quickstarts/microsoft.recoveryservices/recovery-services-backup-file-share/README.md
  quickstarts/microsoft.recoveryservices/recovery-services-backup-file-share/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-backup-file-share/main.bicep
  quickstarts/microsoft.recoveryservices/recovery-services-backup-file-share/metadata.json
  quickstarts/microsoft.recoveryservices/recovery-services-backup-file-share/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-backup-file-share/prereqs/prereq.main.bicep
Labels: bicep, bicep warnings

#12133 API udpate, readme
  quickstarts/microsoft.storage/storage-static-website/azuredeploy.json
  quickstarts/microsoft.storage/storage-static-website/main.bicep
  quickstarts/microsoft.storage/storage-static-website/metadata.json
Labels: bicep

#12230 Re-injecting the files in a new branch
  quickstarts/microsoft.kusto/kusto-event-hub/README.md
  quickstarts/microsoft.kusto/kusto-event-hub/azuredeploy.json
  quickstarts/microsoft.kusto/kusto-event-hub/azuredeploy.parameters.json
  quickstarts/microsoft.kusto/kusto-event-hub/main.bicep
  quickstarts/microsoft.kusto/kusto-event-hub/metadata.json
  quickstarts/microsoft.kusto/kusto-event-hub/script.kql
Labels: bicep, bicep warnings

#12232 provider updates and bicep functionality
  quickstarts/microsoft.sql/sql-database/azuredeploy.json
  quickstarts/microsoft.sql/sql-database/main.bicep
  quickstarts/microsoft.sql/sql-database/metadata.json
Labels: bicep
