Repository Azure/azure-quickstart-templates, pull requests merged in 2022-01, with the labels that each got.

#12092 Update README.md
  quickstarts/microsoft.compute/vm-simple-windows/README.md
  quickstarts/microsoft.compute/vm-simple-windows/azuredeploy.json
Labels: bicep, PORTAL SAMPLE

#11939 New quickstart showing Application Gateway with internal API Management and Web App
  quickstarts/microsoft.web/private-webapp-with-app-gateway-and-apim/README.md
  quickstarts/microsoft.web/private-webapp-with-app-gateway-and-apim/azuredeploy.json
  quickstarts/microsoft.web/private-webapp-with-app-gateway-and-apim/azuredeploy.parameters.json
  quickstarts/microsoft.web/private-webapp-with-app-gateway-and-apim/images/apim-appgw.png
  quickstarts/microsoft.web/private-webapp-with-app-gateway-and-apim/main.bicep
  quickstarts/microsoft.web/private-webapp-with-app-gateway-and-apim/metadata.json
  quickstarts/microsoft.web/private-webapp-with-app-gateway-and-apim/scripts/create-certs.sh
Labels: bicep, BPA

#12112 Frontdoor redirect bicep
  quickstarts/microsoft.network/front-door-create-redirect/README.md
  quickstarts/microsoft.network/front-door-create-redirect/azuredeploy.json
  quickstarts/microsoft.network/front-door-create-redirect/main.bicep
  quickstarts/microsoft.network/front-door-create-redirect/metadata.json
Labels: bicep

#12113 Add quickstart for Windows VM with ssh
  quickstarts/microsoft.compute/vm-windows-ssh/README.md
  quickstarts/microsoft.compute/vm-windows-ssh/azuredeploy.json
  quickstarts/microsoft.compute/vm-windows-ssh/azuredeploy.parameters.json
  quickstarts/microsoft.compute/vm-windows-ssh/configs/sshd_config_wopwd
  quickstarts/microsoft.compute/vm-windows-ssh/createUiDefinition.json
  quickstarts/microsoft.compute/vm-windows-ssh/initialize.ps1
  quickstarts/microsoft.compute/vm-windows-ssh/main.bicep
  quickstarts/microsoft.compute/vm-windows-ssh/metadata.json
Labels: bicep

#12105 adding bicep template for recovery-services-weekly-backup-policy-create
  quickstarts/microsoft.recoveryservices/recovery-services-weekly-backup-policy-create/README.md
  quickstarts/microsoft.recoveryservices/recovery-services-weekly-backup-policy-create/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-weekly-backup-policy-create/main.bicep
Labels: metadata violations, bicep, bicep warnings

#12104 adding bicep template for recovery-services-daily-backup-policy-create
  quickstarts/microsoft.recoveryservices/recovery-services-daily-backup-policy-create/README.md
  quickstarts/microsoft.recoveryservices/recovery-services-daily-backup-policy-create/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-daily-backup-policy-create/main.bicep
Labels: metadata violations, bicep, bicep warnings

#11927 Pull Request for SAP ILM Store integration
  application-workloads/sap/sap-ilm-store/README.md
  application-workloads/sap/sap-ilm-store/azuredeploy.json
  application-workloads/sap/sap-ilm-store/azuredeploy.parameters.json
  application-workloads/sap/sap-ilm-store/createUiDefinition.json
  application-workloads/sap/sap-ilm-store/metadata.json
  application-workloads/sap/sap-ilm-store/prereqs/prereq.azuredeploy.json
  application-workloads/sap/sap-ilm-store/prereqs/prereq.azuredeploy.parameters.json
Labels: metadata violations, BPA

#12098 Update azuredeploy.json to use newer VM size
  application-workloads/apache/apache2-on-ubuntu-vm/azuredeploy.json
Labels: metadata violations

#12095 Switch template to bicep, add UI definition and update
  demos/aci-bc/README.md
  demos/aci-bc/azuredeploy.json
  demos/aci-bc/azuredeploy.parameters.json
  demos/aci-bc/createUiDefinition.json
  demos/aci-bc/main.bicep
  demos/aci-bc/metadata.json
  demos/aci-bc/scripts/SetupCertificate.ps1
  demos/aci-bc/scripts/SetupCertificate.zip
  demos/aci-dynamicsnav/README.md
  demos/aci-dynamicsnav/metadata.json
  demos/aci-dynamicsnav/scripts/SetupCertificate.ps1
  demos/aci-dynamicsnav/scripts/SetupCertificate.zip
Labels: bicep

#12126 Update API and bicep
  quickstarts/microsoft.sql/sql-database/README.md
  quickstarts/microsoft.sql/sql-database/azuredeploy.json
  quickstarts/microsoft.sql/sql-database/main.bicep
  quickstarts/microsoft.sql/sql-database/metadata.json
Labels: bicep

#12122 Update/storage account basic
  quickstarts/microsoft.storage/storage-account-create/azuredeploy.json
  quickstarts/microsoft.storage/storage-account-create/main.bicep
  quickstarts/microsoft.storage/storage-account-create/metadata.json
Labels: bicep

#12121 Update Storage API
  quickstarts/microsoft.storage/storage-blob-container/azuredeploy.json
  quickstarts/microsoft.storage/storage-blob-container/main.bicep
  quickstarts/microsoft.storage/storage-blob-container/metadata.json
Labels: bicep

#12107 Create an API Management service and configure it with Private Endpoint
  quickstarts/microsoft.apimanagement/api-management-private-endpoint/README.md
  quickstarts/microsoft.apimanagement/api-management-private-endpoint/azuredeploy.json
  quickstarts/microsoft.apimanagement/api-management-private-endpoint/azuredeploy.parameters.json
  quickstarts/microsoft.apimanagement/api-management-private-endpoint/main.bicep
  quickstarts/microsoft.apimanagement/api-management-private-endpoint/metadata.json
Labels: bicep

#12089 Adding the purpose tag to logic app
  demos/identitygovernance-entitlementmanagement-extensibility-sample-logicapp/azuredeploy.json
Labels: metadata violations, best practices violations

#12087 Update README.md
  quickstarts/microsoft.web/function-app-create-dedicated/README.md
Labels: metadata violations, best practices violations, BPA

#12069 Adding modern versions of Windows and SQL
  application-workloads/sql/sqlvm-alwayson-cluster/azuredeploy.json
Labels: metadata violations, best practices violations, BPA

#12057 update private-dns-zone template
  quickstarts/microsoft.network/private-dns-zone/README.md
  quickstarts/microsoft.network/private-dns-zone/azuredeploy.json
  quickstarts/microsoft.network/private-dns-zone/azuredeploy.parameters.json
  quickstarts/microsoft.network/private-dns-zone/main.bicep
  quickstarts/microsoft.network/private-dns-zone/metadata.json
Labels: bicep

#12085 appgw with waf and firewall policy quickstart
  quickstarts/microsoft.network/application-gateway-waf-firewall-policy/README.md
  quickstarts/microsoft.network/application-gateway-waf-firewall-policy/azuredeploy.json
  quickstarts/microsoft.network/application-gateway-waf-firewall-policy/azuredeploy.parameters.json
  quickstarts/microsoft.network/application-gateway-waf-firewall-policy/main.bicep
  quickstarts/microsoft.network/application-gateway-waf-firewall-policy/metadata.json
  quickstarts/microsoft.network/application-gateway-waf-firewall-policy/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.network/application-gateway-waf-firewall-policy/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep

#12137 Added bicep example, updated README
  quickstarts/microsoft.datafactory/data-factory-v2-create/README.md
  quickstarts/microsoft.datafactory/data-factory-v2-create/azuredeploy.json
  quickstarts/microsoft.datafactory/data-factory-v2-create/main.bicep
  quickstarts/microsoft.datafactory/data-factory-v2-create/metadata.json
Labels: bicep

#12136 Update API provider version
  quickstarts/microsoft.apimanagement/api-management-create-with-msi/azuredeploy.json
  quickstarts/microsoft.apimanagement/api-management-create-with-msi/main.bicep
  quickstarts/microsoft.apimanagement/api-management-create-with-msi/metadata.json
Labels: bicep

#12129 Updates for bicep
  quickstarts/microsoft.authorization/rbac-builtinrole-resourcegroup/README.md
  quickstarts/microsoft.authorization/rbac-builtinrole-resourcegroup/azuredeploy.json
  quickstarts/microsoft.authorization/rbac-builtinrole-resourcegroup/main.bicep
  quickstarts/microsoft.authorization/rbac-builtinrole-resourcegroup/metadata.json
Labels: bicep, bicep warnings

#12050 adding sentinel scheduled rule sample
  quickstarts/microsoft.securityinsights/sentinel-scheduled-analytics-rule/README.md
  quickstarts/microsoft.securityinsights/sentinel-scheduled-analytics-rule/azuredeploy.json
  quickstarts/microsoft.securityinsights/sentinel-scheduled-analytics-rule/azuredeploy.parameters.json
  quickstarts/microsoft.securityinsights/sentinel-scheduled-analytics-rule/metadata.json
  quickstarts/microsoft.securityinsights/sentinel-scheduled-analytics-rule/prereqs/.settings.json
  quickstarts/microsoft.securityinsights/sentinel-scheduled-analytics-rule/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.securityinsights/sentinel-scheduled-analytics-rule/prereqs/prereq.azuredeploy.parameters.json
Labels: metadata violations, best practices violations, readme violations

#12141 Update azuredeploy.json
  quickstarts/microsoft.apimanagement/api-management-create-with-internal-vnet-application-gateway/azuredeploy.json
Labels: metadata violations, best practices violations

#12138 Bugfix: AKS version no longer available
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/azuredeploy.json
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/privateaks.bicep
Labels: metadata violations, best practices violations, bicep

#12128 Add bicep to description for acom search
  quickstarts/microsoft.containerregistry/container-registry-with-policies-and-diagnostics/metadata.json
Labels: metadata violations, bicep
