Repository Azure/azure-quickstart-templates, pull requests merged in 2022-06, with the labels that each got.

#12521 [SQL virtual machine] - update api versions and create Bicep file.
  quickstarts/microsoft.sqlvirtualmachine/sql-vm-new-storage/README.md
  quickstarts/microsoft.sqlvirtualmachine/sql-vm-new-storage/azuredeploy.json
  quickstarts/microsoft.sqlvirtualmachine/sql-vm-new-storage/main.bicep
  quickstarts/microsoft.sqlvirtualmachine/sql-vm-new-storage/metadata.json
Labels: best practices violations, bicep warnings, json with bicep

#12520 Update Storage and Function vnet configuration
  quickstarts/microsoft.web/function-app-storage-private-endpoints/azuredeploy.json
  quickstarts/microsoft.web/function-app-storage-private-endpoints/main.bicep
  quickstarts/microsoft.web/function-app-storage-private-endpoints/metadata.json
Labels: BPA, json with bicep

#12450 GitHub Enterprise Template - update `storageAccountType` value
  application-workloads/github-enterprise/github-enterprise/azuredeploy.json
Labels: metadata violations, best practices violations

#12533 Fixed issue with link
  demos/integrationpatterns-messagerouter-servicebus/README.md
Labels: metadata violations, best practices violations

#12536 Update metadata.json
  quickstarts/microsoft.documentdb/microsoft-defender-cosmosdb-create-account/metadata.json
Labels: metadata violations

#12528 Update Unreal Engine options
  application-workloads/azure-gamedev/gamedev-vm/azuredeploy.json
  application-workloads/azure-gamedev/gamedev-vm/main.bicep
  application-workloads/azure-gamedev/gamedev-vm/metadata.json
  application-workloads/azure-gamedev/gamedev-vm/nestedtemplates/gamedev-vm.bicep
  application-workloads/azure-gamedev/gamedev-vm/nestedtemplates/nsgRules.bicep
  application-workloads/azure-gamedev/gamedev-vm/nestedtemplates/remoteAccessExtension.bicep
Labels: json with bicep

#12545 Add inboundNatRules v2 to load balancer
  quickstarts/microsoft.compute/vmss-flexible-orchestration-quickstart/azuredeploy.json
  quickstarts/microsoft.compute/vmss-flexible-orchestration-quickstart/main.bicep
  quickstarts/microsoft.compute/vmss-flexible-orchestration-quickstart/metadata.json
  quickstarts/microsoft.compute/vmss-flexible-orchestration-quickstart/modules/network/slb.bicep
Labels: json with bicep

#12501 Add v1LegacyMode to e2e secure pl workspace for sdkv1
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/README.md
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/azuredeploy.json
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/azuredeploy.parameters.json
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/main.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/metadata.json
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/applicationinsights.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/bastion.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/containerregistry.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/dsvmjumpbox.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/keyvault.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/machinelearning.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/machinelearningcompute.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/machinelearningnetworking.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/nsg.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/privateaks.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/storage.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure-v1-legacy-mode/modules/vnet.bicep
Labels: json with bicep

#12565 [Firewall availability zone] Create Bicep and update api versions
  quickstarts/microsoft.network/azurefirewall-with-zones-sandbox/README.md
  quickstarts/microsoft.network/azurefirewall-with-zones-sandbox/azuredeploy.json
  quickstarts/microsoft.network/azurefirewall-with-zones-sandbox/main.bicep
  quickstarts/microsoft.network/azurefirewall-with-zones-sandbox/metadata.json
Labels: json with bicep

#12567 0627 vm windows
  demos/vmss-windows-webapp-dsc-autoscale/README.md
  demos/vmss-windows-webapp-dsc-autoscale/azuredeploy.json
  demos/vmss-windows-webapp-dsc-autoscale/main.bicep
  demos/vmss-windows-webapp-dsc-autoscale/metadata.json
Labels: remove azuredeploy.json
