Repository Azure/azure-quickstart-templates, pull requests merged in 2022-07, with the labels that each got.

#12571 Update metadata.json
  modules/Microsoft.KeyVault/vaults/1.0/metadata.json
Labels: metadata violations, best practices violations, readme violations, UPPERCASE

#12572 Update Readme.md for Microsoft defender for azure cosmos db
  quickstarts/microsoft.documentdb/microsoft-defender-cosmosdb-create-account/README.md
  quickstarts/microsoft.documentdb/microsoft-defender-cosmosdb-create-account/metadata.json
Labels: metadata violations

#12558 [Azure firewall manager policy] update api versions and create bicep
  quickstarts/microsoft.network/azurefirewall-create-with-firewallpolicy-apprule-netrule-ipgroups/README.md
  quickstarts/microsoft.network/azurefirewall-create-with-firewallpolicy-apprule-netrule-ipgroups/azuredeploy.json
  quickstarts/microsoft.network/azurefirewall-create-with-firewallpolicy-apprule-netrule-ipgroups/main.bicep
  quickstarts/microsoft.network/azurefirewall-create-with-firewallpolicy-apprule-netrule-ipgroups/metadata.json
Labels: remove azuredeploy.json

#12575 Fix broken table in postgresql-on-ubuntu of README
  application-workloads/postgre/postgresql-on-ubuntu/README.md
Labels: metadata violations, best practices violations

#12444 Add microsoft.mobilenetwork quickstart for updating packet core control plane
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/README.md
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/createUiDefinition.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/metadata.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/prereqs/.settings.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/prereqs/prereq.azuredeploy.parameters.json
Labels: remove azuredeploy.json

#12585 metadata test - same itemDisplayName
  100-blank-template/README.md
  100-blank-template/metadata.json
Labels: ROOT

#12586 metadata test - duplicate itemDisplayName
  modules/Microsoft.Compute/galleries/create/1.0/README.md
Labels: best practices violations, UPPERCASE

#12588 Redirect to Canada Central when App Insights is created in Canada East
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet/azuredeploy.json
Labels: metadata violations, best practices violations, duplicate metadata

#12589 Redirect to Canada Central when App Insights is created in Canada East
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet-v1-legacy-mode/azuredeploy.json
Labels: duplicate metadata

#12584 added tags for azure for education
  quickstarts/microsoft.cognitiveservices/cognitive-services-universalkey/metadata.json
Labels: metadata violations

#12593 A sample module to create Azure Front Door CDN profile
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/README.md
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/azuredeploy.parameters.json
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/main.bicep
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/metadata.json
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/modules/diagnosticsettings.bicep
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/modules/eventhub.bicep
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/modules/profile.bicep
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/modules/routes.bicep
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/modules/rulesets.bicep
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/modules/waf.bicep
Labels: duplicate foldername

#12595 Update skus in vm-simple-windows
  quickstarts/microsoft.compute/vm-simple-windows/azuredeploy.json
  quickstarts/microsoft.compute/vm-simple-windows/createUiDefinition.json
  quickstarts/microsoft.compute/vm-simple-windows/main.bicep
  quickstarts/microsoft.compute/vm-simple-windows/metadata.json
Labels: PORTAL SAMPLE, duplicate metadata

#12626 updated metadata tags for A4E
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/metadata.json
Labels: metadata violations, best practices violations

#12625 updated tags for A4E
  quickstarts/microsoft.web/web-app-java-tomcat/metadata.json
Labels: metadata violations, best practices violations, BPA

#12624 enhanced tags for A4Education
  quickstarts/microsoft.eventhub/event-hubs-create-event-hub-and-consumer-group/metadata.json
Labels: metadata violations, best practices violations

#12622 enhancements to metadata for A4Education
  quickstarts/microsoft.web/webapp-linux-managed-mysql/metadata.json
Labels: metadata violations, best practices violations

#12621 update metadata for Azure for Education
  demos/ubuntu-desktop-gnome-rdp/metadata.json
Labels: metadata violations

#12620 update metadata for A4Education
  application-workloads/visualstudio/ubuntu-mate-desktop-vscode/metadata.json
Labels: metadata violations, best practices violations

#12616 added tags for A4Education
  quickstarts/microsoft.storage/storage-file-share/metadata.json
Labels: metadata violations

#12615 added tags for A4Education
  quickstarts/microsoft.storage/storage-blob-container/metadata.json
Labels: metadata violations

#12614 added tags for A4Education
  quickstarts/microsoft.devices/iothub-with-consumergroup-create/metadata.json
Labels: metadata violations

#12613 update tags for A4Education
  quickstarts/microsoft.logic/logic-app-create/metadata.json
Labels: metadata violations

#12612 update tags for A4Education app service plan
  quickstarts/microsoft.web/function-app-create-dedicated/metadata.json
Labels: metadata violations, best practices violations, BPA

#12611 update tags for A4Education copy FTP
  quickstarts/microsoft.logic/logic-app-ftp-to-blob/metadata.json
Labels: metadata violations

#12610 updated tags for A4Education function app
  quickstarts/microsoft.web/function-app-dedicated-github-deploy/metadata.json
Labels: metadata violations, best practices violations

#12608 additions to metadata for A4Education
  quickstarts/microsoft.cognitiveservices/cognitive-services-translate/metadata.json
Labels: metadata violations, best practices violations

#12663 update metadata for eduhub
  quickstarts/microsoft.cognitiveservices/cognitive-services-translate/metadata.json
Labels: metadata violations, best practices violations

#12644 Apply Microsoft.MobileNetwork dashboard fixes from pez repo
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/metadata.json
Labels: best practices violations

#12643 5xx change
  demos/ag-alert-backend-5xx/azuredeploy.json
  demos/ag-alert-backend-5xx/metadata.json
Labels: best practices violations

#12664 Unhealthy host
  demos/ag-alert-unhealthy-host/azuredeploy.json
  demos/ag-alert-unhealthy-host/metadata.json
Labels: best practices violations

#12665 Lastbyte resp
  demos/ag-alert-backend-lastbyte-resp/azuredeploy.json
  demos/ag-alert-backend-lastbyte-resp/metadata.json
Labels: best practices violations

#12667 different schema for tags
  quickstarts/microsoft.cognitiveservices/cognitive-services-translate/metadata.json
Labels: metadata violations, best practices violations

#12673 Updated mobilenetwork-create-new-site ARM template 2022-04-01-preview
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/metadata.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/prereqs/prereq.azuredeploy.json
Labels: remove azuredeploy.json

#12676 Updated mobilenetwork-create-dashboard ARM template 2022-04-01-preview
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/metadata.json
Labels: best practices violations

#12672 Updated mobilenetwork-create-sim-policy ARM template 2022-04-01-preview
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-sim-policy/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-sim-policy/metadata.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-sim-policy/prereqs/prereq.azuredeploy.json
Labels: remove azuredeploy.json

#12671 Added mobilenetwork-provision-proxy-sims ARM template 2022-04-01-preview
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/README.md
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/metadata.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/prereqs/.settings.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/prereqs/prereq.azuredeploy.parameters.json
Labels: remove azuredeploy.json

#12669 Updated mobilenetwork-update-packet-core-control-plane ARM template 2022-04-01-preview
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/createUiDefinition.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/metadata.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/prereqs/prereq.azuredeploy.parameters.json
Labels: remove azuredeploy.json

#12682 add scenario
  quickstarts/microsoft.cognitiveservices/cognitive-services-translate/metadata.json
Labels: metadata violations, best practices violations

#12685 update metadata for A4E
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/metadata.json
Labels: best practices violations, UPPERCASE

#12684 Update azuredeploy.parameters.json
  quickstarts/microsoft.confidentialledger/confidential-ledger-create/azuredeploy.parameters.json
Labels: metadata violations, best practices violations

#12696 update metadata for A4E
  application-workloads/postgre/postgresql-standalone-server-ubuntu/metadata.json
Labels: best practices violations

#12695 update metadata for A4E
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/metadata.json
Labels: best practices violations

#12691 free-tier update
  quickstarts/microsoft.documentdb/cosmosdb-free/README.md
  quickstarts/microsoft.documentdb/cosmosdb-free/azuredeploy.json
  quickstarts/microsoft.documentdb/cosmosdb-free/azuredeploy.parameters.json
  quickstarts/microsoft.documentdb/cosmosdb-free/main.bicep
  quickstarts/microsoft.documentdb/cosmosdb-free/metadata.json
Labels: remove azuredeploy.json

#12689 update api-version, other updates
  quickstarts/microsoft.documentdb/cosmosdb-cassandra-autoscale/README.md
  quickstarts/microsoft.documentdb/cosmosdb-cassandra-autoscale/azuredeploy.json
  quickstarts/microsoft.documentdb/cosmosdb-cassandra-autoscale/main.bicep
  quickstarts/microsoft.documentdb/cosmosdb-cassandra-autoscale/metadata.json
Labels: remove azuredeploy.json

#12697 gremlin updates
  quickstarts/microsoft.documentdb/cosmosdb-gremlin/README.md
  quickstarts/microsoft.documentdb/cosmosdb-gremlin/azuredeploy.json
  quickstarts/microsoft.documentdb/cosmosdb-gremlin/main.bicep
  quickstarts/microsoft.documentdb/cosmosdb-gremlin/metadata.json
Labels: bicep warnings

#12645 [AKS] - update api version
  quickstarts/microsoft.kubernetes/aks/azuredeploy.json
  quickstarts/microsoft.kubernetes/aks/main.bicep
  quickstarts/microsoft.kubernetes/aks/metadata.json
Labels: BPA

#12688 update api-version, multiple other properties
  quickstarts/microsoft.documentdb/cosmosdb-cassandra/README.md
  quickstarts/microsoft.documentdb/cosmosdb-cassandra/azuredeploy.json
  quickstarts/microsoft.documentdb/cosmosdb-cassandra/main.bicep
  quickstarts/microsoft.documentdb/cosmosdb-cassandra/metadata.json
Labels: bicep warnings, remove azuredeploy.json

#12605 README: Add Tags and Optional Param
  modules/microsoft.cdn/azure-frontdoor-cdn-profile/1.0/README.md
Labels: duplicate foldername

#12556 [Azure Firewall Multi addresses] - update API versions and create Bicep
  quickstarts/microsoft.network/fw-docs-qs/README.md
  quickstarts/microsoft.network/fw-docs-qs/azuredeploy.json
  quickstarts/microsoft.network/fw-docs-qs/main.bicep
  quickstarts/microsoft.network/fw-docs-qs/metadata.json
Labels: remove azuredeploy.json

#12553 Modified default name of service name, rule name and template name. Name should contain alphanumeric or underscore char only
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-sim-policy/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-sim-policy/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-sim-policy/main.bicep
Labels: metadata violations, remove azuredeploy.json

#12716 remove tag from metadata
  application-workloads/postgre/postgresql-standalone-server-ubuntu/metadata.json
Labels: best practices violations

#12715 remove tags from metadata
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/metadata.json
Labels: best practices violations

#12714 removed tag from metadata
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/metadata.json
Labels: best practices violations, UPPERCASE

#12712 removed tag from metadata
  quickstarts/microsoft.cognitiveservices/cognitive-services-translate/metadata.json
Labels: best practices violations

#12710 update metadata for A4E
  application-workloads/datascience/vm-ubuntu-DSVM-GPU-or-CPU/metadata.json
Labels: UPPERCASE

#12709 update metadata for A4E
  quickstarts/microsoft.web/web-app-sql-database/metadata.json
Labels: BPA

#12708 update metadata for A4E
  quickstarts/microsoft.web/web-app-github-deploy/metadata.json
Labels: BPA

#12707 update metadata for A4E
  quickstarts/microsoft.compute/vm-simple-windows-visualstudio2019/metadata.json
Labels: best practices violations

#12706 update metadata for A4E
  quickstarts/microsoft.compute/vm-simple-linux/metadata.json
Labels: PORTAL SAMPLE

#12728 update metadata for A4E
  quickstarts/microsoft.logic/logic-app-create/metadata.json
Labels: metadata violations

#12725 update metadata for A4E
  quickstarts/microsoft.web/function-app-create-dedicated/metadata.json
Labels: best practices violations, BPA

#12727 update metadata for A4E
  quickstarts/microsoft.web/webapp-linux-managed-mysql/metadata.json
Labels: metadata violations, best practices violations

#12723 update metadata for A4E
  quickstarts/microsoft.web/function-app-dedicated-github-deploy/metadata.json
Labels: best practices violations

#12730 Update metadata.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/metadata.json
Labels: best practices violations

#12737 update metadata for A4E
  quickstarts/microsoft.devices/iot-iothub-edgeemulator-vm/metadata.json
Labels: metadata violations, best practices violations

#12698 AKS Quickstart with helm chart integration
  quickstarts/microsoft.kubernetes/aks-helm/README.md
  quickstarts/microsoft.kubernetes/aks-helm/azuredeploy.parameters.json
  quickstarts/microsoft.kubernetes/aks-helm/main.bicep
  quickstarts/microsoft.kubernetes/aks-helm/metadata.json
  quickstarts/microsoft.kubernetes/aks-helm/modules/helm.bicep
  quickstarts/microsoft.kubernetes/aks-helm/scripts/helm.sh
Labels: BPA

#12742 update metadata for A4E
  quickstarts/microsoft.eventhub/event-hubs-create-event-hub-and-consumer-group/metadata.json
Labels: best practices violations

#12740 update metadata for A4E
  quickstarts/microsoft.storage/storage-file-share/metadata.json
Labels: metadata violations

#12741 update metadata for A4E
  application-workloads/visualstudio/ubuntu-mate-desktop-vscode/metadata.json
Labels: best practices violations
