Repository Azure/azure-quickstart-templates, pull requests merged in 2022-04, with the labels that each got.

#12348 added expiry time property
  modules/Microsoft.KeyVault/vaults/keys/0.9/README.md
  modules/Microsoft.KeyVault/vaults/keys/0.9/azuredeploy.json
  modules/Microsoft.KeyVault/vaults/keys/0.9/metadata.json
  modules/Microsoft.KeyVault/vaults/keys/0.9/prereqs/prereq.azuredeploy.json
Labels: best practices violations, UPPERCASE

#12362 Network Watcher - Updating API versions and creating new Bicep file
  quickstarts/microsoft.network/networkwatcher-flowLogs-create/README.md
  quickstarts/microsoft.network/networkwatcher-flowLogs-create/azuredeploy.json
  quickstarts/microsoft.network/networkwatcher-flowLogs-create/main.bicep
  quickstarts/microsoft.network/networkwatcher-flowLogs-create/metadata.json
  quickstarts/microsoft.network/networkwatcher-flowLogs-create/nested_deployFlowLogs.bicep
Labels: UPPERCASE, bicep warnings

#12358 [Machine Learning VM] - update the resource API versions and create t…
  application-workloads/datascience/vm-ubuntu-DSVM-GPU-or-CPU/README.md
  application-workloads/datascience/vm-ubuntu-DSVM-GPU-or-CPU/azuredeploy.json
  application-workloads/datascience/vm-ubuntu-DSVM-GPU-or-CPU/main.bicep
  application-workloads/datascience/vm-ubuntu-DSVM-GPU-or-CPU/metadata.json
Labels: UPPERCASE

#12353 Update dnsLabelPrefix to use vmName parameter
  quickstarts/microsoft.compute/vm-simple-linux/azuredeploy.json
  quickstarts/microsoft.compute/vm-simple-linux/main.bicep
Labels: PORTAL SAMPLE

#12106 Fix spelling, description
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/azuredeploy.json
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/keyvault.bicep
Labels: metadata violations, bicep

#12200 add bicep template for recovery-services-backup-vms
  quickstarts/microsoft.recoveryservices/recovery-services-backup-vms/README.md
  quickstarts/microsoft.recoveryservices/recovery-services-backup-vms/azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-backup-vms/azuredeploy.parameters.json
  quickstarts/microsoft.recoveryservices/recovery-services-backup-vms/main.bicep
  quickstarts/microsoft.recoveryservices/recovery-services-backup-vms/metadata.json
  quickstarts/microsoft.recoveryservices/recovery-services-backup-vms/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.recoveryservices/recovery-services-backup-vms/prereqs/prereq.azuredeploy.parameters.json
  quickstarts/microsoft.recoveryservices/recovery-services-backup-vms/prereqs/prereq.main.bicep
Labels: bicep

#12288 Adding Bicep template for App Configuration with Key Vault reference
  quickstarts/microsoft.appconfiguration/app-configuration-store-keyvaultref/README.md
  quickstarts/microsoft.appconfiguration/app-configuration-store-keyvaultref/azuredeploy.json
  quickstarts/microsoft.appconfiguration/app-configuration-store-keyvaultref/main.bicep
  quickstarts/microsoft.appconfiguration/app-configuration-store-keyvaultref/metadata.json
Labels: bicep

#12292 Adding Bicep template for AKS VMSS cluster with System Identity
  quickstarts/microsoft.kubernetes/aks-vmss-systemassigned-identity/README.md
  quickstarts/microsoft.kubernetes/aks-vmss-systemassigned-identity/azuredeploy.json
  quickstarts/microsoft.kubernetes/aks-vmss-systemassigned-identity/main.bicep
  quickstarts/microsoft.kubernetes/aks-vmss-systemassigned-identity/metadata.json
Labels: bicep, BPA

#12293 Adding Bicep template for Eventhubs Create Cluster Namespace sample
  quickstarts/microsoft.eventhub/eventhubs-create-cluster-namespace/README.md
  quickstarts/microsoft.eventhub/eventhubs-create-cluster-namespace/azuredeploy.json
  quickstarts/microsoft.eventhub/eventhubs-create-cluster-namespace/main.bicep
  quickstarts/microsoft.eventhub/eventhubs-create-cluster-namespace/metadata.json
Labels: best practices violations, bicep

#12294 Adding Bicep template to Eventhubs create cluster namepsace with Even…
  quickstarts/microsoft.eventhub/eventhubs-create-cluster-namespace-eventhub/README.md
  quickstarts/microsoft.eventhub/eventhubs-create-cluster-namespace-eventhub/azuredeploy.json
  quickstarts/microsoft.eventhub/eventhubs-create-cluster-namespace-eventhub/main.bicep
  quickstarts/microsoft.eventhub/eventhubs-create-cluster-namespace-eventhub/metadata.json
Labels: best practices violations, bicep

#12296 Update api-version in api-management-create-with-multiregion
  quickstarts/microsoft.apimanagement/api-management-create-with-multiregion/README.md
  quickstarts/microsoft.apimanagement/api-management-create-with-multiregion/azuredeploy.json
  quickstarts/microsoft.apimanagement/api-management-create-with-multiregion/main.bicep
  quickstarts/microsoft.apimanagement/api-management-create-with-multiregion/metadata.json
Labels: bicep

#12321 Event Grid - update resource API versions and create the Bicep file
  quickstarts/microsoft.eventgrid/event-grid-subscription-and-storage/README.md
  quickstarts/microsoft.eventgrid/event-grid-subscription-and-storage/azuredeploy.json
  quickstarts/microsoft.eventgrid/event-grid-subscription-and-storage/main.bicep
  quickstarts/microsoft.eventgrid/event-grid-subscription-and-storage/metadata.json
  quickstarts/microsoft.eventgrid/event-grid-subscription-and-storage/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.eventgrid/event-grid-subscription-and-storage/prereqs/prereq.main.bicep
Labels: best practices violations, bicep

#12325 Adding Bicep template for App Configuration Store with Feature Flag
  quickstarts/microsoft.appconfiguration/app-configuration-store-ff/README.md
  quickstarts/microsoft.appconfiguration/app-configuration-store-ff/azuredeploy.json
  quickstarts/microsoft.appconfiguration/app-configuration-store-ff/main.bicep
  quickstarts/microsoft.appconfiguration/app-configuration-store-ff/metadata.json
Labels: bicep

#12350 updateEncryptionSettingsURL has changed
  quickstarts/microsoft.compute/decrypt-running-windows-vm/azuredeploy.json
  quickstarts/microsoft.compute/decrypt-running-windows-vm/metadata.json
Labels: best practices violations

#12352 Update: Azure APIM Policy for Moesif with companyId
  quickstarts/microsoft.apimanagement/api-management-logs-to-moesif-using-eventhub-webapp/README.md
Labels: metadata violations

#12306 CosmosDB - update resource api versions and create the Bicep file
  quickstarts/microsoft.documentdb/cosmosdb-sql/README.md
  quickstarts/microsoft.documentdb/cosmosdb-sql/azuredeploy.json
  quickstarts/microsoft.documentdb/cosmosdb-sql/main.bicep
  quickstarts/microsoft.documentdb/cosmosdb-sql/metadata.json
Labels: bicep

#12379 Cmk
  quickstarts/microsoft.storage/storage-blob-encryption-with-cmk/azuredeploy.json
  quickstarts/microsoft.storage/storage-blob-encryption-with-cmk/azuredeploy.parameters.json
  quickstarts/microsoft.storage/storage-blob-encryption-with-cmk/main.bicep
  quickstarts/microsoft.storage/storage-blob-encryption-with-cmk/metadata.json
Labels: bicep warnings

#12313 Quickstart template to deploy an Azure Private 5G Core
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/README.md
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/metadata.json
Labels: bicep, bicep warnings

#12340 Updated api-management-create-with-internal-vnet
  quickstarts/microsoft.apimanagement/api-management-create-with-internal-vnet/README.md
  quickstarts/microsoft.apimanagement/api-management-create-with-internal-vnet/metadata.json
Labels: best practices violations

#12339 Update api-management-create-with-external-vnet
  quickstarts/microsoft.apimanagement/api-management-create-with-external-vnet/README.md
  quickstarts/microsoft.apimanagement/api-management-create-with-external-vnet/metadata.json
Labels: best practices violations

#12088 ANF application volume group support for sap-hana
  quickstarts/microsoft.netapp/anf-sap-hana/anf-sap-hana-storage/README.md
  quickstarts/microsoft.netapp/anf-sap-hana/anf-sap-hana-storage/azuredeploy.json
  quickstarts/microsoft.netapp/anf-sap-hana/anf-sap-hana-storage/azuredeploy.parameters.json
  quickstarts/microsoft.netapp/anf-sap-hana/anf-sap-hana-storage/metadata.json
  quickstarts/microsoft.netapp/anf-sap-hana/anf-sap-hana-storage/prereqs/.settings.json
  quickstarts/microsoft.netapp/anf-sap-hana/anf-sap-hana-storage/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.netapp/anf-sap-hana/anf-sap-hana-storage/prereqs/prereq.azuredeploy.parameters.json
Labels: best practices violations

#12388 Update java-tomcat-install.sh
  application-workloads/tomcat/openjdk-tomcat-ubuntu-vm/java-tomcat-install.sh
Labels: metadata violations, best practices violations

#12390 Update siteextensions and config resource names to match the resource type
  quickstarts/microsoft.web/web-app-loganalytics/azuredeploy.json
  quickstarts/microsoft.web/web-app-loganalytics/main.bicep
Labels: metadata violations, BPA

#12391 Quickstart template to deploy an Azure Private 5G mobile network
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-mobile-network/README.md
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-mobile-network/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-mobile-network/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-mobile-network/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-mobile-network/metadata.json
Labels: bicep warnings

#12392 QuickStart template to deploy an Azure Private 5G site
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/README.md
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/metadata.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/prereqs/.settings.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep warnings

#12394 QuickStart template to provision new SIMs on an Azure Private 5G Core
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-sims/README.md
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-sims/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-sims/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-sims/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-sims/metadata.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-sims/prereqs/.settings.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-sims/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-sims/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep warnings

#12395 QuickStart template to deploy a dashboard for an Azure Private 5G Core
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/README.md
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-dashboard/metadata.json
Labels: best practices violations

#12303 Cognitive services - update resource API versions and create the Bice…
  quickstarts/microsoft.cognitiveservices/cognitive-services-universalkey/README.md
  quickstarts/microsoft.cognitiveservices/cognitive-services-universalkey/azuredeploy.json
  quickstarts/microsoft.cognitiveservices/cognitive-services-universalkey/main.bicep
  quickstarts/microsoft.cognitiveservices/cognitive-services-universalkey/metadata.json
Labels: bicep

#12406 Make SIMs optional in full deployment of Azure Private 5G Core QuickStart Template
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/main.bicep
Labels: bicep warnings
