Repository Azure/azure-quickstart-templates, pull requests merged in 2023-10, with the labels that each got.

#13589 [cosmosdb-create-account] - add Bicep
  quickstarts/microsoft.documentdb/cosmosdb-create-account/README.md
  quickstarts/microsoft.documentdb/cosmosdb-create-account/azuredeploy.json
  quickstarts/microsoft.documentdb/cosmosdb-create-account/main.bicep
  quickstarts/microsoft.documentdb/cosmosdb-create-account/metadata.json
Labels: BPA

#13591 [1-vm-loadbalancer-2-nics] - add Bicep
  quickstarts/microsoft.compute/1-vm-loadbalancer-2-nics/README.md
  quickstarts/microsoft.compute/1-vm-loadbalancer-2-nics/azuredeploy.json
  quickstarts/microsoft.compute/1-vm-loadbalancer-2-nics/main.bicep
  quickstarts/microsoft.compute/1-vm-loadbalancer-2-nics/metadata.json
Labels: BPA

#13590 [vm-new-or-existing-conditions] - add Bicep
  quickstarts/microsoft.compute/vm-new-or-existing-conditions/README.md
  quickstarts/microsoft.compute/vm-new-or-existing-conditions/azuredeploy.json
  quickstarts/microsoft.compute/vm-new-or-existing-conditions/main.bicep
  quickstarts/microsoft.compute/vm-new-or-existing-conditions/metadata.json
Labels: best practices violations, BPA

#13588 [elastic create] - add Bicep
  quickstarts/microsoft.elastic/elastic-create/README.md
  quickstarts/microsoft.elastic/elastic-create/azuredeploy.json
  quickstarts/microsoft.elastic/elastic-create/main.bicep
  quickstarts/microsoft.elastic/elastic-create/metadata.json
Labels: best practices violations, readme violations

#13583 0927 anf oracle storage
  quickstarts/microsoft.netapp/anf-oracle/anf-oracle-storage/README.md
  quickstarts/microsoft.netapp/anf-oracle/anf-oracle-storage/azuredeploy.json
  quickstarts/microsoft.netapp/anf-oracle/anf-oracle-storage/main.bicep
  quickstarts/microsoft.netapp/anf-oracle/anf-oracle-storage/metadata.json
  quickstarts/microsoft.netapp/anf-oracle/anf-oracle-storage/prereqs/prereq.azuredeploy.json
Labels: best practices violations, bicep warnings, remove azuredeploy.json

#13593 [vm with rdp port] - add Bicep
  quickstarts/microsoft.compute/vm-with-rdp-port/README.md
  quickstarts/microsoft.compute/vm-with-rdp-port/azuredeploy.json
  quickstarts/microsoft.compute/vm-with-rdp-port/main.bicep
  quickstarts/microsoft.compute/vm-with-rdp-port/metadata.json
Labels: best practices violations, BPA

#13584 [logic app as2 send receive] - add bicep
  quickstarts/microsoft.logic/logic-app-as2-send-receive/README.md
  quickstarts/microsoft.logic/logic-app-as2-send-receive/azuredeploy.json
  quickstarts/microsoft.logic/logic-app-as2-send-receive/main.bicep
  quickstarts/microsoft.logic/logic-app-as2-send-receive/metadata.json
Labels: best practices violations, bicep warnings, BPA

#13578 [Microservice apps enterprise plan] - add Bicep
  quickstarts/microsoft.appplatform/microservice-apps-enterprise-plan/README.md
  quickstarts/microsoft.appplatform/microservice-apps-enterprise-plan/azuredeploy.json
  quickstarts/microsoft.appplatform/microservice-apps-enterprise-plan/main.bicep
  quickstarts/microsoft.appplatform/microservice-apps-enterprise-plan/metadata.json
Labels: bicep warnings

#13581 [newrelic] - add Bicep
  quickstarts/newrelic.observability/newrelic/README.md
  quickstarts/newrelic.observability/newrelic/azuredeploy.json
  quickstarts/newrelic.observability/newrelic/main.bicep
  quickstarts/newrelic.observability/newrelic/metadata.json
  quickstarts/newrelic.observability/newrelic/nested_monitorDeployment.bicep
Labels: manual validation required, best practices violations

#13576 [datadog] - add Bicep
  quickstarts/microsoft.datadog/datadog/README.md
  quickstarts/microsoft.datadog/datadog/azuredeploy.json
  quickstarts/microsoft.datadog/datadog/main.bicep
  quickstarts/microsoft.datadog/datadog/metadata.json
  quickstarts/microsoft.datadog/datadog/nested_monitorDeployment.bicep
Labels: manual validation required, best practices violations, bicep warnings

#13580 [vm-customdata] - add Bicep
  quickstarts/microsoft.compute/vm-customdata/README.md
  quickstarts/microsoft.compute/vm-customdata/azuredeploy.json
  quickstarts/microsoft.compute/vm-customdata/main.bicep
  quickstarts/microsoft.compute/vm-customdata/metadata.json
Labels: BPA

#13596 Add NSG to CloudShell VNET
  demos/cloud-shell-vnet/azuredeploy.json
  demos/cloud-shell-vnet/azuredeploy.parameters.json
  demos/cloud-shell-vnet/main.bicep
  demos/cloud-shell-vnet/prereqs/prereq.azuredeploy.json
Labels: bicep warnings, remove azuredeploy.json

#13599 Add MS Entra authentication bicep template for azure cache for redis
  quickstarts/microsoft.cache/redis-cache-microsoft-entra-authentication/README.md
  quickstarts/microsoft.cache/redis-cache-microsoft-entra-authentication/azuredeploy.parameters.json
  quickstarts/microsoft.cache/redis-cache-microsoft-entra-authentication/main.bicep
  quickstarts/microsoft.cache/redis-cache-microsoft-entra-authentication/metadata.json
Labels: metadata violations, readme violations, BPA

#13602 New FinOps toolkit template – Governance workbook
  quickstarts/microsoft.costmanagement/governance-workbook/README.md
  quickstarts/microsoft.costmanagement/governance-workbook/azuredeploy.parameters.json
  quickstarts/microsoft.costmanagement/governance-workbook/createUiDefinition.json
  quickstarts/microsoft.costmanagement/governance-workbook/main.bicep
  quickstarts/microsoft.costmanagement/governance-workbook/metadata.json
  quickstarts/microsoft.costmanagement/governance-workbook/version.txt
  quickstarts/microsoft.costmanagement/governance-workbook/workbook.json
Labels: best practices violations, bicep warnings

#13504 Update api-management-create-with-multiregion/README.md
  quickstarts/microsoft.apimanagement/api-management-create-with-multiregion/README.md
Labels: BPA

#13510 Fix kubernetes version
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/azuredeploy.json
  quickstarts/microsoft.machinelearningservices/machine-learning-end-to-end-secure/modules/privateaks.bicep
Labels: best practices violations, bicep warnings, BPA, remove azuredeploy.json

#13594 add hotpatch
  quickstarts/microsoft.azurestackhci/image-from-azure-marketplace/main.bicep
Labels: manual validation required

#13609 Updated Create New Slice to 2023-09-01
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-slice/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-slice/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-slice/prereqs/prereq.azuredeploy.json
Labels: bicep warnings, remove azuredeploy.json

#13610 Updated Create Mobile Network to 2023-09-01
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-mobile-network/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-mobile-network/main.bicep
Labels: remove azuredeploy.json

#13612 Updated Create New Sim Policy to 2023-09-01
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-sim-policy/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-sim-policy/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-sim-policy/prereqs/prereq.azuredeploy.json
Labels: remove azuredeploy.json

#13613 Updated Provision Proxy Sims to 2023-09-01
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/prereqs/prereq.azuredeploy.json
Labels: bicep warnings, BPA, remove azuredeploy.json

#13620 [APIM] Update API version and metadata in api-management-simple-zones
  quickstarts/microsoft.apimanagement/api-management-simple-zones/README.md
  quickstarts/microsoft.apimanagement/api-management-simple-zones/azuredeploy.json
  quickstarts/microsoft.apimanagement/api-management-simple-zones/main.bicep
  quickstarts/microsoft.apimanagement/api-management-simple-zones/metadata.json
Labels: bicep warnings, BPA, remove azuredeploy.json
