Repository Azure/azure-quickstart-templates, pull requests merged in 2023-11, with the labels that each got.

#13623 Initial template to deploy Azure Stack HCI 23H2 via ARM Template
  quickstarts/microsoft.azurestackhci/create-cluster/README.md
  quickstarts/microsoft.azurestackhci/create-cluster/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster/metadata.json
Labels: manual validation required, best practices violations, readme violations, BPA

#13627 Updated Packet Core Control Plane to 2023-09-01
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/createUiDefinition.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/prereqs/prereq.azuredeploy.json
Labels: best practices violations, BPA, remove azuredeploy.json

#13629 Fix tiny typo in vm-simple-linux main.bicep
  quickstarts/microsoft.compute/vm-simple-linux/main.bicep
Labels: best practices violations, PORTAL SAMPLE, BPA

#13622 add IPv6 AppGW ARM template
  quickstarts/microsoft.network/application-gateway-ipv6-create/README.md
  quickstarts/microsoft.network/application-gateway-ipv6-create/azuredeploy.json
  quickstarts/microsoft.network/application-gateway-ipv6-create/azuredeploy.parameters.json
  quickstarts/microsoft.network/application-gateway-ipv6-create/metadata.json
Labels: BPA

#13631 Expose the suffix for the resource name
  quickstarts/microsoft.devcenter/devbox-with-customized-image/azuredeploy.json
  quickstarts/microsoft.devcenter/devbox-with-customized-image/main.bicep
Labels: best practices violations, BPA, remove azuredeploy.json

#13632 port 81 to 80
  quickstarts/microsoft.network/application-gateway-ipv6-create/azuredeploy.json
Labels: BPA

#13634 Add odbc install for CB
  application-workloads/sccm/sccm-currentbranch/DSC/CSConfiguration.ps1
  application-workloads/sccm/sccm-currentbranch/DSC/DCConfiguration.zip
  application-workloads/sccm/sccm-currentbranch/DSC/InstallPSForHierarchy.ps1
  application-workloads/sccm/sccm-currentbranch/DSC/PSConfiguration.ps1
  application-workloads/sccm/sccm-currentbranch/DSC/TemplateHelpDSC/TemplateHelpDSC.psd1
  application-workloads/sccm/sccm-currentbranch/DSC/TemplateHelpDSC/TemplateHelpDSC.psm1
  application-workloads/sccm/sccm-currentbranch/azuredeploy.json
  application-workloads/sccm/sccm-currentbranch/metadata.json
Labels: best practices violations

#13617 Bicep Quickstart Sample to provision Azure Redis for Cache as Vector DB
  quickstarts/microsoft.cache/redis-enterprise-vectordb/README.md
  quickstarts/microsoft.cache/redis-enterprise-vectordb/azuredeploy.parameters.json
  quickstarts/microsoft.cache/redis-enterprise-vectordb/main.bicep
  quickstarts/microsoft.cache/redis-enterprise-vectordb/metadata.json
Labels: readme violations, BPA

#13628 Jjoshi/update create new site
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-site/prereqs/prereq.main.bicep
Labels: remove azuredeploy.json

#13626 Jjoshi/update 5gc deployment
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/azuredeploy.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/azuredeploy.parameters.json
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/main.bicep
Labels: bicep warnings, remove azuredeploy.json

#13645 move route all to site prop
  quickstarts/microsoft.web/app-service-regional-vnet-integration/azuredeploy.json
  quickstarts/microsoft.web/app-service-regional-vnet-integration/main.bicep
Labels: best practices violations, bicep warnings, BPA, remove azuredeploy.json
