Repository Azure/azure-quickstart-templates, pull requests merged in 2023-04, with the labels that each got.

#13279 [event-hubs-create-event-hub-and-consumer-group] - add Bicep and upda…
  quickstarts/microsoft.eventhub/event-hubs-create-event-hub-and-consumer-group/README.md
  quickstarts/microsoft.eventhub/event-hubs-create-event-hub-and-consumer-group/azuredeploy.json
  quickstarts/microsoft.eventhub/event-hubs-create-event-hub-and-consumer-group/main.bicep
  quickstarts/microsoft.eventhub/event-hubs-create-event-hub-and-consumer-group/metadata.json
Labels: BPA

#13286 [nextflow-genomics-cluster-ubuntu] - add Bicep and update API versions
  application-workloads/nextflow/nextflow-genomics-cluster-ubuntu/README.md
  application-workloads/nextflow/nextflow-genomics-cluster-ubuntu/azuredeploy.json
  application-workloads/nextflow/nextflow-genomics-cluster-ubuntu/main.bicep
  application-workloads/nextflow/nextflow-genomics-cluster-ubuntu/metadata.json
Labels: BPA

#13287 [databricks-workspace-with-vnet-injection] - add Bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-vnet-injection/README.md
  quickstarts/microsoft.databricks/databricks-workspace-with-vnet-injection/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-workspace-with-vnet-injection/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-vnet-injection/metadata.json
Labels: bicep warnings

#13278 [databricks-all-in-one-template-for-vnet-injection] - add Bicep and u…
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/README.md
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/metadata.json
Labels: bicep warnings

#13285 [databricks-workspace-with-dbfs-root-customer-managed-keys] - add Bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-dbfs-root-customer-managed-keys/README.md
  quickstarts/microsoft.databricks/databricks-workspace-with-dbfs-root-customer-managed-keys/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-workspace-with-dbfs-root-customer-managed-keys/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-dbfs-root-customer-managed-keys/metadata.json
  quickstarts/microsoft.databricks/databricks-workspace-with-dbfs-root-customer-managed-keys/nested_addAccessPolicy.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-dbfs-root-customer-managed-keys/nested_configureCMKOnWorkspace.bicep
Labels: bicep warnings

#13283 [databricks-workspace-with-managed-services-customer-managed-keys] - …
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-services-customer-managed-keys/README.md
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-services-customer-managed-keys/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-services-customer-managed-keys/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-services-customer-managed-keys/metadata.json
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-services-customer-managed-keys/nested_addAccessPolicy.bicep
Labels: bicep warnings

#13280 [cognitive-services-Computer-vision-API] - update api version and add…
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/README.md
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/azuredeploy.json
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/main.bicep
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/metadata.json
Labels: UPPERCASE, BPA

#13288 [databricks-workspace] - add Bicep
  quickstarts/microsoft.databricks/databricks-workspace/README.md
  quickstarts/microsoft.databricks/databricks-workspace/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-workspace/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace/metadata.json
Labels: bicep warnings

#13245 Update ag-docs-wafv2 - Remove redundant section
  demos/ag-docs-wafv2/azuredeploy.json
  demos/ag-docs-wafv2/main.bicep
  demos/ag-docs-wafv2/metadata.json
Labels: BPA

#13248 Update azuredeploy.json
  quickstarts/microsoft.compute/vm-simple-windows/azuredeploy.json
Labels: PORTAL SAMPLE, bicep warnings, BPA, remove azuredeploy.json

#13257 Update broken links in solace-message-router samples
  application-workloads/solace/solace-message-router/README.md
Labels: best practices violations, BPA

#13258 Typo "Azure database for PostgreSQL"→"Azure Database for PostgreSQL"
  quickstarts/microsoft.dbforpostgresql/managed-postgresql-with-vnet/main.bicep
Labels: bicep warnings, BPA

#13291 adding storage properties to function app quickstart
  quickstarts/microsoft.web/function-app-create-dynamic/azuredeploy.json
  quickstarts/microsoft.web/function-app-create-dynamic/main.bicep
Labels: best practices violations, BPA, remove azuredeploy.json

#13292 adding Mariner bicep template
  quickstarts/microsoft.kubernetes/aks-mariner/main.bicep
Labels: best practices violations, readme violations, BPA

#13300 Add PostgreSQL Flexible Server Create with AAD
  quickstarts/microsoft.dbforpostgresql/flexible-postgresql-with-aad/README.md
  quickstarts/microsoft.dbforpostgresql/flexible-postgresql-with-aad/azuredeploy.parameters.json
  quickstarts/microsoft.dbforpostgresql/flexible-postgresql-with-aad/main.bicep
  quickstarts/microsoft.dbforpostgresql/flexible-postgresql-with-aad/metadata.json
Labels: bicep warnings

#13304 Revert changes to API versions that caused failures
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint/main.bicep
Labels: best practices violations, bicep warnings

#13307 added latest docker ima
  quickstarts/microsoft.web/webapp-linux-sonarqube-azuresql/azuredeploy.json
Labels: best practices violations, BPA

#13316 VM Simple Windows - Enabled AutoUpgrade for attestation ext
  quickstarts/microsoft.compute/vm-simple-windows/azuredeploy.json
  quickstarts/microsoft.compute/vm-simple-windows/main.bicep
Labels: PORTAL SAMPLE, BPA

#13320 Update azuredeploy.json
  quickstarts/microsoft.keyvault/key-vault-create/azuredeploy.json
  quickstarts/microsoft.keyvault/key-vault-create/main.bicep
Labels: best practices violations, remove azuredeploy.json

#13327 Simplified Trusted Launch VMSS template
  quickstarts/microsoft.compute/vmss-trustedlaunch-windows/azuredeploy.json
  quickstarts/microsoft.compute/vmss-trustedlaunch-windows/createUiDefinition.json
  quickstarts/microsoft.compute/vmss-trustedlaunch-windows/main.bicep
Labels: bicep warnings

#13313 Update azuredeploy.json
  demos/haproxy-redundant-floatingip-ubuntu/azuredeploy.json
Labels: best practices violations, BPA
