Repository Azure/azure-quickstart-templates, pull requests merged in 2024-11, with the labels that each got.

#14206 Converted Arm template to Bicep
  quickstarts/microsoft.network/internal-loadbalancer-create-haports/README.md
  quickstarts/microsoft.network/internal-loadbalancer-create-haports/azuredeploy.json
  quickstarts/microsoft.network/internal-loadbalancer-create-haports/azuredeploy.parameters.json
  quickstarts/microsoft.network/internal-loadbalancer-create-haports/main.bicep
Labels: remove azuredeploy.json

#14118 De-identification service quickstart
  quickstarts/microsoft.healthdataaiservices/deidentification-service-create/README.md
  quickstarts/microsoft.healthdataaiservices/deidentification-service-create/azuredeploy.parameters.json
  quickstarts/microsoft.healthdataaiservices/deidentification-service-create/main.bicep
  quickstarts/microsoft.healthdataaiservices/deidentification-service-create/metadata.json
Labels: readme violations

#14211 SFI update IP addresses
  quickstarts/microsoft.network/azure-dns-new-zone/azuredeploy.json
  quickstarts/microsoft.network/azure-dns-new-zone/main.bicep
Labels: remove azuredeploy.json

#14213 Darktrace vSensor Changes November 2024
  application-workloads/darktrace/darktrace-vsensor-autoscaling/azuredeploy.json
  application-workloads/darktrace/darktrace-vsensor-autoscaling/metadata.json
Labels: BPA

#14223 Adding template for Agent setup for Azure AI
  quickstarts/microsoft.azure-ai-agent-service/standard-agent/README.md
  quickstarts/microsoft.azure-ai-agent-service/standard-agent/azuredeploy.parameters.json
  quickstarts/microsoft.azure-ai-agent-service/standard-agent/main.bicep
  quickstarts/microsoft.azure-ai-agent-service/standard-agent/metadata.json
  quickstarts/microsoft.azure-ai-agent-service/standard-agent/modules-standard/standard-ai-hub.bicep
  quickstarts/microsoft.azure-ai-agent-service/standard-agent/modules-standard/standard-ai-project.bicep
  quickstarts/microsoft.azure-ai-agent-service/standard-agent/modules-standard/standard-dependent-resources.bicep
Labels: best practices violations, bicep warnings, BPA

#14224 Adding bicep for Basic Agent Setup with MI for connections
  quickstarts/microsoft.azure-ai-agent-service/basic-agent-identity/README.md
  quickstarts/microsoft.azure-ai-agent-service/basic-agent-identity/azuredeploy.parameters.json
  quickstarts/microsoft.azure-ai-agent-service/basic-agent-identity/main.bicep
  quickstarts/microsoft.azure-ai-agent-service/basic-agent-identity/metadata.json
  quickstarts/microsoft.azure-ai-agent-service/basic-agent-identity/modules-basic/basic-ai-hub-identity.bicep
  quickstarts/microsoft.azure-ai-agent-service/basic-agent-identity/modules-basic/basic-ai-project-identity.bicep
  quickstarts/microsoft.azure-ai-agent-service/basic-agent-identity/modules-basic/basic-dependent-resources.bicep
Labels: BPA
