Repository Azure/azure-quickstart-templates, pull requests merged in 2024-05, with the labels that each got.

#13984 Fix bicep vm data disks
  quickstarts/microsoft.azurestackhci/vm-windows-disks-and-adjoin/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/vm-windows-disks-and-adjoin/main.bicep
  quickstarts/microsoft.azurestackhci/vm-windows-disks-and-adjoin/prereq.main.bicep
Labels: manual validation required, best practices violations, readme violations, BPA

#13993 Update main.bicep
  quickstarts/microsoft.kubernetes/aks/main.bicep
Labels: bicep warnings, BPA

#13994 Azure Stack HCI Cluster with Prereqs - 3nodeswitchless support
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/azuredeploy.parameters.3nodeswitchlesssample.json
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/main.bicep
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/modules/ashciLocks.bicep
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/modules/ashciPrereqs.bicep
Labels: manual validation required, best practices violations, readme violations, bicep warnings, BPA

#13995 Added bicep template for PgFlex
  quickstarts/microsoft.dataprotection/backup-create-postgresqlflex-enable-protection/README.md
  quickstarts/microsoft.dataprotection/backup-create-postgresqlflex-enable-protection/azuredeploy.parameters.json
  quickstarts/microsoft.dataprotection/backup-create-postgresqlflex-enable-protection/main.bicep
  quickstarts/microsoft.dataprotection/backup-create-postgresqlflex-enable-protection/metadata.json
Labels: best practices violations

#13997 update readme with correct instructions for 2node Switched quick start template
  quickstarts/microsoft.azurestackhci/create-cluster-2-node-switched-custom-storageip/README.md
Labels: manual validation required, best practices violations, readme violations, BPA

#13998 revert changes template and parameters in Microsoft.Azurestackhci cluster creation template
  quickstarts/microsoft.azurestackhci/create-cluster/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster/main.bicep
Labels: manual validation required, best practices violations, readme violations, BPA

#13999 Sample for Front Door with blob origins for blobs upload
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-blobs-upload/README.md
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-blobs-upload/azuredeploy.parameters.json
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-blobs-upload/images/access-keys.png
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-blobs-upload/images/frontdoor-blob-upload.png
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-blobs-upload/images/frontdoor-endpoint.png
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-blobs-upload/main.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-blobs-upload/metadata.json
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-blobs-upload/modules/storage.bicep
  quickstarts/microsoft.cdn/front-door-standard-premium-storage-blobs-upload/storageAndorigin.bicep
Labels: readme violations

#13962 add system assigned template
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/README.md
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/azuredeploy.parameters.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/metadata.json
Labels: best practices violations, bicep warnings, remove azuredeploy.json

#14003 Azure Blobs Vaulted Backup Template Update
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/README.md
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/azuredeploy.json
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/main.bicep
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/metadata.json
Labels: best practices violations, bicep warnings, BPA

#14006 Azure Blobs Vaulted Backup template - Bug Fix
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/main.bicep
Labels: best practices violations, bicep warnings, BPA

#14004 load balancer - Major update of BICEP code for internal-load-balancer-create code sample
  quickstarts/microsoft.network/internal-loadbalancer-create/README.md
  quickstarts/microsoft.network/internal-loadbalancer-create/azuredeploy.parameters.json
  quickstarts/microsoft.network/internal-loadbalancer-create/images/internalLoadBalancerCreate.png
  quickstarts/microsoft.network/internal-loadbalancer-create/main.bicep
Labels: BPA

#14007 Azure Blobs Backup Template - Added ZoneRedundant Vault Support
  quickstarts/microsoft.dataprotection/backup-create-storage-account-enable-protection/main.bicep
Labels: best practices violations, bicep warnings, BPA

#14008 ASHCI - 3 node switchless - Fix sample VLANs, deploymentMode
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/azuredeploy.parameters.3nodeswitchlesssample.json
Labels: manual validation required, best practices violations, readme violations, BPA

#14023 Fix appInsights mapping for spain central, and qatarcentral
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet/main.bicep
Labels: best practices violations, bicep warnings, BPA

#14022 Databricks-all-in-one-template-for-privateendpoint-cmk-all-forms - Updated latest API version
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-privateendpoint-cmk-all-forms/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-privateendpoint-cmk-all-forms/metadata.json
Labels: best practices violations

#14020 Databricks-all-in-one-template-for-vnet-injection-with-load-balancer - Updated latest API version, NPIP default value to true
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer/metadata.json
Labels: bicep warnings

#14029 Fix adbWorkspace in bicep template
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet/main.bicep
Labels: best practices violations, bicep warnings, BPA

#14021 Databricks-all-in-one-template-for-vnet-injection-privateendpoint - Updated latest API version
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint/metadata.json
Labels: best practices violations, bicep warnings

#14019 Databricks-all-in-one-template-for-vnet-injection-with-nat-gateway - Updated latest API version, NPIP default value to true
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-nat-gateway/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-nat-gateway/metadata.json
Labels: bicep warnings

#14018 Databricks-all-in-one-template-for-vnet-injection - Updated latest API version, NPIP default value to true and NAT gateway with Vnet injected workspace
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/GettingStarted.md
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/README.md
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/metadata.json
Labels: bicep warnings

#14017 Databricks-workspace-with-custom-vnet-address - Updated latest API version, NPIP default value to true
  quickstarts/microsoft.databricks/databricks-workspace-with-custom-vnet-address/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-custom-vnet-address/metadata.json
Labels: bicep warnings

#14016 Databricks-workspace-with-customer-managed-keys-all-forms- Updated latest API version, NPIP default value to true
  quickstarts/microsoft.databricks/databricks-workspace-with-customer-managed-keys-all-forms/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-customer-managed-keys-all-forms/metadata.json
Labels: bicep warnings, BPA

#14015 Databricks-workspace-with-dbfs-root-customer-managed-keys- Updated latest API version, NPIP default value to true
  quickstarts/microsoft.databricks/databricks-workspace-with-dbfs-root-customer-managed-keys/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-dbfs-root-customer-managed-keys/metadata.json
Labels: bicep warnings

#14014 Databricks-workspace-with-managed-disk-customer-managed-keys - Updated latest API version, NPIP default value to true
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-disk-customer-managed-keys/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-disk-customer-managed-keys/metadata.json
Labels: bicep warnings

#14013 Databricks-workspace-with-managed-services-customer-managed-keys - Updated latest API version, NPIP default value to true
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-services-customer-managed-keys/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-services-customer-managed-keys/metadata.json
Labels: best practices violations, bicep warnings

#14011 Databricks-workspace - Updated latest API version, NPIP default value to true
  quickstarts/microsoft.databricks/databricks-workspace/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace/metadata.json
Labels: bicep warnings

#14002 AI Studio customer-managed key encryption
  quickstarts/microsoft.machinelearningservices/aistudio-cmk/README.md
  quickstarts/microsoft.machinelearningservices/aistudio-cmk/azuredeploy.parameters.json
  quickstarts/microsoft.machinelearningservices/aistudio-cmk/main.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-cmk/main.json
  quickstarts/microsoft.machinelearningservices/aistudio-cmk/metadata.json
  quickstarts/microsoft.machinelearningservices/aistudio-cmk/modules/ai-hub.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-cmk/modules/dependent-resources.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-cmk/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.machinelearningservices/aistudio-cmk/prereqs/prereq.azuredeploy.parameters.json
Labels: best practices violations, bicep warnings, BPA, remove azuredeploy.json

#14034 Quickstart - WebApp Linux SonarQube AzureSQL - Support for latest SonarQube versions from v8.9 to v10.5
  quickstarts/microsoft.web/webapp-linux-sonarqube-azuresql/README.md
  quickstarts/microsoft.web/webapp-linux-sonarqube-azuresql/azuredeploy.json
  quickstarts/microsoft.web/webapp-linux-sonarqube-azuresql/main.bicep
  quickstarts/microsoft.web/webapp-linux-sonarqube-azuresql/metadata.json
Labels: best practices violations, BPA

#14033 Service-side CMK encryption for Azure ML
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-cmk-service-side-encryption/README.md
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-cmk-service-side-encryption/azuredeploy.parameters.json
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-cmk-service-side-encryption/main.bicep
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-cmk-service-side-encryption/metadata.json
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-cmk-service-side-encryption/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-cmk-service-side-encryption/prereqs/prereq.azuredeploy.parameters.json
Labels: bicep warnings, BPA, remove azuredeploy.json

#14032 Add note to redis access policy assignment to be done serially
  quickstarts/microsoft.cache/redis-cache-microsoft-entra-authentication/README.md
Labels: metadata violations, readme violations, BPA

#14047 Microsoft.Mobile network 2024-04-01 API bump - create new slice
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-slice/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-slice/metadata.json
Labels: bicep warnings

#14046 Microsoft.Mobile network 2024-04-01 API bump - create full 5gc deployment
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/metadata.json
Labels: bicep warnings

#14043 Microsoft.Mobile network 2024-04-01 API bump - update packet core control plane
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/metadata.json
Labels: best practices violations, BPA

#14042 Microsoft.Mobile network 2024-04-01 API bump - provision proxy sims
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/metadata.json
Labels: bicep warnings, BPA

#14036 Azure Stack HCI Bicep: Add ARB Subscription Role Assignment
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/azuredeploy.parameters.3nodeswitchlesssample.json
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/main.bicep
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/modules/ashciARBSPRoleAssignment.bicep
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/modules/ashciPrereqs.bicep
Labels: manual validation required, best practices violations, readme violations, BPA
