Repository Azure/azure-quickstart-templates, pull requests merged in 2024-09, with the labels that each got.

#14128 Update Storage Accounts API version so it doesn't require feature registration first
  quickstarts/microsoft.storage/storage-sftp/README.md
  quickstarts/microsoft.storage/storage-sftp/main.bicep
Labels: bicep warnings, BPA

#14126 Quickstarts: Added SAP S/4HANA Fully Activated Appliance template
  application-workloads/sap/sap-2-tier-s4hana-fully-activated-appliance/README.md
  application-workloads/sap/sap-2-tier-s4hana-fully-activated-appliance/azuredeploy.json
  application-workloads/sap/sap-2-tier-s4hana-fully-activated-appliance/azuredeploy.parameters.json
  application-workloads/sap/sap-2-tier-s4hana-fully-activated-appliance/images/container.png
  application-workloads/sap/sap-2-tier-s4hana-fully-activated-appliance/main.bicep
  application-workloads/sap/sap-2-tier-s4hana-fully-activated-appliance/metadata.json
  application-workloads/sap/sap-2-tier-s4hana-fully-activated-appliance/scripts/inifile.params
  application-workloads/sap/sap-2-tier-s4hana-fully-activated-appliance/scripts/install.sh
  application-workloads/sap/sap-2-tier-s4hana-fully-activated-appliance/scripts/s4install.sh
Labels: remove azuredeploy.json

#14134 Create Azure private endpoint within the same tenant or cross-tenant …
  quickstarts/microsoft.network/private-endpoint/README.md
  quickstarts/microsoft.network/private-endpoint/azuredeploy.json
  quickstarts/microsoft.network/private-endpoint/azuredeploy.parameters.json
  quickstarts/microsoft.network/private-endpoint/main.bicep
  quickstarts/microsoft.network/private-endpoint/metadata.json
  quickstarts/microsoft.network/private-endpoint/params.bicepparam
Labels: remove azuredeploy.json

#14135 Include createUiDefinition while deploying the template
  demos/vmss-cvm-fde/README.md
Labels: readme violations

#14137 Updated NPIP default value to true
  quickstarts/microsoft.databricks/databricks-workspace-with-customer-managed-keys-all-forms/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-workspace-with-customer-managed-keys-all-forms/azuredeploy.parameters.json
  quickstarts/microsoft.databricks/databricks-workspace-with-customer-managed-keys-all-forms/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-customer-managed-keys-all-forms/metadata.json
  quickstarts/microsoft.databricks/databricks-workspace-with-customer-managed-keys-all-forms/modules/DbfsCMKEnable.bicep
Labels: bicep warnings, BPA, remove azuredeploy.json

#14139 Update template for SharePoint
  application-workloads/sharepoint/sharepoint-adfs/CHANGELOG.md
  application-workloads/sharepoint/sharepoint-adfs/README.md
  application-workloads/sharepoint/sharepoint-adfs/azuredeploy.json
  application-workloads/sharepoint/sharepoint-adfs/azuredeploy.parameters.json
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureDCVM.ps1
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureDCVM.zip
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureFELegacy.ps1
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureFELegacy.zip
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureFESE.ps1
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureFESE.zip
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureSPLegacy.ps1
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureSPLegacy.zip
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureSPSE.ps1
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureSPSE.zip
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureSQLVM.ps1
  application-workloads/sharepoint/sharepoint-adfs/dsc/ConfigureSQLVM.zip
  application-workloads/sharepoint/sharepoint-adfs/main.bicep
  application-workloads/sharepoint/sharepoint-adfs/metadata.json
Labels: bicep warnings

#14151 [Microsoft.AppConfiguration] Update app-configuration-store template api version
  quickstarts/microsoft.appconfiguration/app-configuration-store/main.bicep
  quickstarts/microsoft.appconfiguration/app-configuration-store/metadata.json
Labels: bicep warnings, BPA

#14143 FinOps toolkit 0.5 - governance-workbook update
  quickstarts/microsoft.costmanagement/governance-workbook/README.md
  quickstarts/microsoft.costmanagement/governance-workbook/azuredeploy.json
  quickstarts/microsoft.costmanagement/governance-workbook/ftkver.txt
  quickstarts/microsoft.costmanagement/governance-workbook/main.bicep
  quickstarts/microsoft.costmanagement/governance-workbook/metadata.json
  quickstarts/microsoft.costmanagement/governance-workbook/version.txt
  quickstarts/microsoft.costmanagement/governance-workbook/workbook.json
Labels: best practices violations, bicep warnings, remove azuredeploy.json

#14142 FinOps toolkit 0.5 - finops-hub update
  quickstarts/microsoft.costmanagement/finops-hub/README.md
  quickstarts/microsoft.costmanagement/finops-hub/bicepconfig.json
  quickstarts/microsoft.costmanagement/finops-hub/createUiDefinition.json
  quickstarts/microsoft.costmanagement/finops-hub/main.bicep
  quickstarts/microsoft.costmanagement/finops-hub/metadata.json
  quickstarts/microsoft.costmanagement/finops-hub/modules/azuretimezones.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/dataFactory.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/ftkver.txt
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/keyVault.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/Remove-OldResources.ps1
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/Start-Triggers.ps1
  quickstarts/microsoft.costmanagement/finops-hub/modules/storage.bicep
  quickstarts/microsoft.costmanagement/finops-hub/schemas/focuscost_1.0-preview(v1).json
  quickstarts/microsoft.costmanagement/finops-hub/schemas/focuscost_1.0.json
  quickstarts/microsoft.costmanagement/finops-hub/schemas/pricesheet_2023-05-01_ea.json
  quickstarts/microsoft.costmanagement/finops-hub/schemas/pricesheet_2023-05-01_mca.json
  quickstarts/microsoft.costmanagement/finops-hub/schemas/reservationdetails_2023-05-01.json
  quickstarts/microsoft.costmanagement/finops-hub/schemas/reservationrecommendations_2023-05-01_ea.json
  quickstarts/microsoft.costmanagement/finops-hub/schemas/reservationrecommendations_2023-05-01_mca.json
  quickstarts/microsoft.costmanagement/finops-hub/schemas/reservationtransactions_2023-05-01_ea.json
  quickstarts/microsoft.costmanagement/finops-hub/schemas/reservationtransactions_2023-05-01_mca.json
Labels: best practices violations, bicep warnings, BPA

#14152 Azure Virtual Desktop
  quickstarts/microsoft.desktopvirtualization/azure-virtual-desktop/README.md
  quickstarts/microsoft.desktopvirtualization/azure-virtual-desktop/azuredeploy.json
  quickstarts/microsoft.desktopvirtualization/azure-virtual-desktop/azuredeploy.parameters.json
  quickstarts/microsoft.desktopvirtualization/azure-virtual-desktop/main.bicep
  quickstarts/microsoft.desktopvirtualization/azure-virtual-desktop/metadata.json
  quickstarts/microsoft.desktopvirtualization/azure-virtual-desktop/params.bicepparam
Labels: bicep warnings, remove azuredeploy.json

#14149 [Microsoft.AppConfiguration] Update app-configuration-store-keyvaultref api version
  quickstarts/microsoft.appconfiguration/app-configuration-store-keyvaultref/main.bicep
  quickstarts/microsoft.appconfiguration/app-configuration-store-keyvaultref/metadata.json
Labels: bicep warnings, BPA

#14148 [Microsoft.AppConfiguration] Update app-configuration-store-kv-copy api version
  quickstarts/microsoft.appconfiguration/app-configuration-store-kv-copy/azuredeploy.json
  quickstarts/microsoft.appconfiguration/app-configuration-store-kv-copy/metadata.json
Labels: BPA

#14147 [Microsoft.AppConfiguration] Update app-configuration-store-kv template api version
  quickstarts/microsoft.appconfiguration/app-configuration-store-kv/main.bicep
  quickstarts/microsoft.appconfiguration/app-configuration-store-kv/metadata.json
Labels: bicep warnings, BPA

#14138 [AppConfiguration] Update API Version to latest stable for template deployment with AppConfig references
  quickstarts/microsoft.appconfiguration/app-configuration/README.md
  quickstarts/microsoft.appconfiguration/app-configuration/azuredeploy.json
  quickstarts/microsoft.appconfiguration/app-configuration/azuredeploy.parameters.json
  quickstarts/microsoft.appconfiguration/app-configuration/metadata.json
Labels: BPA

#14161 [AI Studio] Forked changes to support private search.
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/README.md
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/azuredeploy.json
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/main.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/main.json
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/metadata.json
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/modules/dependent-resources.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/modules/dependent/aisearch.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/modules/dependent/aiservices.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/modules/dependent/storage.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/modules/role-assignments.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-network-restricted/prereqs/prereq.azuredeploy.json
Labels: best practices violations, BPA
