Repository Azure/azure-quickstart-templates, pull requests merged in 2024-03, with the labels that each got.

#13810 Update API version in Create Slice
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-slice/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-new-slice/metadata.json
Labels: bicep warnings

#13833 Added Outputs - Create a basic Front Door
  quickstarts/microsoft.network/front-door-create-basic/README.md
  quickstarts/microsoft.network/front-door-create-basic/azuredeploy.json
  quickstarts/microsoft.network/front-door-create-basic/main.bicep
  quickstarts/microsoft.network/front-door-create-basic/metadata.json
Labels: BPA

#13830 Added Outputs - Azure Firewall with IP groups
  quickstarts/microsoft.network/azurefirewall-create-with-ipgroups-and-linux-jumpbox/README.md
  quickstarts/microsoft.network/azurefirewall-create-with-ipgroups-and-linux-jumpbox/azuredeploy.json
  quickstarts/microsoft.network/azurefirewall-create-with-ipgroups-and-linux-jumpbox/main.bicep
  quickstarts/microsoft.network/azurefirewall-create-with-ipgroups-and-linux-jumpbox/metadata.json
Labels: bicep warnings, BPA

#13821 Mrajess fixes #13771 part1
  quickstarts/microsoft.storage/storage-blob-container/azuredeploy.json
  quickstarts/microsoft.storage/storage-blob-container/azuredeploy.parameters.json
  quickstarts/microsoft.storage/storage-blob-container/main.bicep
  quickstarts/microsoft.storage/storage-blob-container/metadata.json
Labels: BPA

#13825 Azure Stack HCI: Simple Linux VM from Custom Image
  quickstarts/microsoft.azurestackhci/vm-simple-ashci-linux/README.md
  quickstarts/microsoft.azurestackhci/vm-simple-ashci-linux/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/vm-simple-ashci-linux/main.bicep
  quickstarts/microsoft.azurestackhci/vm-simple-ashci-linux/metadata.json
  quickstarts/microsoft.azurestackhci/vm-simple-ashci-linux/prereq.azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/vm-simple-ashci-linux/prereq.main.bicep
Labels: manual validation required, best practices violations

#13822 Mrajess fixes #13771 part2
  quickstarts/microsoft.storage/storage-multi-blob-container/azuredeploy.json
  quickstarts/microsoft.storage/storage-multi-blob-container/azuredeploy.parameters.json
  quickstarts/microsoft.storage/storage-multi-blob-container/main.bicep
  quickstarts/microsoft.storage/storage-multi-blob-container/metadata.json
Labels: BPA

#13818 Added outputs - Cosmos db Free
  quickstarts/microsoft.documentdb/cosmosdb-free/README.md
  quickstarts/microsoft.documentdb/cosmosdb-free/azuredeploy.json
  quickstarts/microsoft.documentdb/cosmosdb-free/main.bicep
  quickstarts/microsoft.documentdb/cosmosdb-free/metadata.json
Labels: BPA

#13813 Added Outputs - azure-portal-dashboard
  quickstarts/microsoft.portal/azure-portal-dashboard/README.md
  quickstarts/microsoft.portal/azure-portal-dashboard/azuredeploy.json
  quickstarts/microsoft.portal/azure-portal-dashboard/main.bicep
  quickstarts/microsoft.portal/azure-portal-dashboard/metadata.json
Labels: best practices violations, bicep warnings, BPA

#13801 Added Bicep File - customscript-extension-ps-ubuntu
  quickstarts/microsoft.compute/customscript-extension-public-storage-on-ubuntu/README.md
  quickstarts/microsoft.compute/customscript-extension-public-storage-on-ubuntu/azuredeploy.json
  quickstarts/microsoft.compute/customscript-extension-public-storage-on-ubuntu/main.bicep
  quickstarts/microsoft.compute/customscript-extension-public-storage-on-ubuntu/metadata.json
Labels: readme violations

#13823 having storageAccountBehindVNet set as true is causing failures
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-vnet/main.bicep
Labels: bicep warnings, BPA

#13849 Update API version 2024-02-01 in provision proxy sim
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-provision-proxy-sims/metadata.json
Labels: bicep warnings, BPA

#13850 Update api version 2024-02-01 in update PCCP
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-update-packet-core-control-plane/metadata.json
Labels: best practices violations, BPA

#13852 update api version in create full 5gc deployment!
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/main.bicep
  quickstarts/microsoft.mobilenetwork/mobilenetwork-create-full-5gc-deployment/metadata.json
Labels: bicep warnings

#13864 Azure Stack HCI 23H2+ AKS Bicep
  quickstarts/microsoft.azurestackhci/aks-on-ashci/README.md
  quickstarts/microsoft.azurestackhci/aks-on-ashci/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/aks-on-ashci/main.bicep
  quickstarts/microsoft.azurestackhci/aks-on-ashci/metadata.json
  quickstarts/microsoft.azurestackhci/aks-on-ashci/prereq.main.bicep
Labels: manual validation required, best practices violations

#13866 Replaced Ubuntu 18.04 references with Ubuntu 22.04 references - vm-msi-storage (1/9)
  quickstarts/microsoft.compute/vm-msi-storage/azuredeploy.json
  quickstarts/microsoft.compute/vm-msi-storage/main.bicep
Labels: best practices violations, bicep warnings, BPA, remove azuredeploy.json

#13869 Replaced Ubuntu 18.04 references with Ubuntu 22.04 references - vm-trustedlaunch-linux (4/9)
  quickstarts/microsoft.compute/vm-trustedlaunch-linux/azuredeploy.json
  quickstarts/microsoft.compute/vm-trustedlaunch-linux/main.bicep
Labels: best practices violations, BPA, remove azuredeploy.json

#13870 Replaced Ubuntu 18.04 references with Ubuntu 22.04 references - vmss-azure-files-linux (5/9)
  quickstarts/microsoft.compute/vmss-azure-files-linux/azuredeploy.json
  quickstarts/microsoft.compute/vmss-azure-files-linux/main.bicep
Labels: BPA, remove azuredeploy.json

#13871 Replaced Ubuntu 18.04 references with Ubuntu 22.04 references - vmss-with-public-ip-prefix (6/9)
  quickstarts/microsoft.compute/vmss-with-public-ip-prefix/azuredeploy.json
  quickstarts/microsoft.compute/vmss-with-public-ip-prefix/main.bicep
Labels: best practices violations, BPA, remove azuredeploy.json

#13872 Replaced Ubuntu 18.04 references with Ubuntu 22.04 references - aks-application-gateway-ingress-controller (7/9)
  quickstarts/microsoft.network/aks-application-gateway-ingress-controller/azuredeploy.json
Labels: best practices violations, BPA

#13861 Log Analytics workspace SKU fix
  quickstarts/microsoft.insights/insights-alertrules-application-insights/azuredeploy.json
  quickstarts/microsoft.insights/insights-alertrules-application-insights/main.bicep
Labels: best practices violations, remove azuredeploy.json

#13874 Replaced Ubuntu 18.04 references with Ubuntu 22.04 references - azurefirewall-client-server-sandbox (9/9)
  quickstarts/microsoft.network/azurefirewall-client-server-sandbox/azuredeploy.json
  quickstarts/microsoft.network/azurefirewall-client-server-sandbox/main.bicep
Labels: BPA, remove azuredeploy.json

#13873 Replaced Ubuntu 18.04 references with Ubuntu 22.04 references - azure-firewall-dns-proxy (8/9)
  quickstarts/microsoft.network/azure-firewall-dns-proxy/azuredeploy.json
  quickstarts/microsoft.network/azure-firewall-dns-proxy/main.bicep
Labels: best practices violations, BPA, remove azuredeploy.json

#13847 Added Outputs - Virtual Network NAT with VM
  quickstarts/microsoft.network/nat-gateway-1-vm/azuredeploy.json
  quickstarts/microsoft.network/nat-gateway-1-vm/main.bicep
  quickstarts/microsoft.network/nat-gateway-1-vm/metadata.json
Labels: best practices violations, BPA

#13842 Added Outputs - Create a standard load-balancer
  quickstarts/microsoft.network/load-balancer-standard-create/azuredeploy.json
  quickstarts/microsoft.network/load-balancer-standard-create/main.bicep
  quickstarts/microsoft.network/load-balancer-standard-create/metadata.json
Labels: best practices violations, bicep warnings

#13841 Added Outputs - 2 VMs in VNET - Internal Load Balancer and LB rules
  quickstarts/microsoft.compute/2-vms-internal-load-balancer/README.md
  quickstarts/microsoft.compute/2-vms-internal-load-balancer/azuredeploy.json
  quickstarts/microsoft.compute/2-vms-internal-load-balancer/main.bicep
  quickstarts/microsoft.compute/2-vms-internal-load-balancer/metadata.json
Labels: BPA

#13879 databricks-vnet-for-vnet-injection-with-nat-gateway to quickstarts\microsoft.databricks
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/README.md
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/azuredeploy.parameters.json
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/main.bicep
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/metadata.json
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/prereqs/prereq.azuredeploy.json
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/prereqs/prereq.azuredeploy.parameters.json
Labels: remove azuredeploy.json

#13863 Ashci cluster full
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/main.bicep
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/metadata.json
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/modules/ashciPrereqs.bicep
Labels: manual validation required, best practices violations, BPA

#13894 Update main template and set manual validation
  quickstarts/microsoft.devcenter/environment-sandbox/README.md
  quickstarts/microsoft.devcenter/environment-sandbox/azuredeploy.json
  quickstarts/microsoft.devcenter/environment-sandbox/azuredeploy.parameters.json
  quickstarts/microsoft.devcenter/environment-sandbox/metadata.json
Labels: manual validation required, best practices violations

#13896 Introduce bicep template to create ADE
  quickstarts/microsoft.devcenter/environment-deployment-1/README.md
  quickstarts/microsoft.devcenter/environment-deployment-1/azuredeploy.json
  quickstarts/microsoft.devcenter/environment-deployment-1/azuredeploy.parameters.json
  quickstarts/microsoft.devcenter/environment-deployment-1/metadata.json
  quickstarts/microsoft.devcenter/environment-sandbox/README.md
  quickstarts/microsoft.devcenter/environment-sandbox/main.bicep
  quickstarts/microsoft.devcenter/environment-sandbox/modules/deployment1.bicep
  quickstarts/microsoft.devcenter/environment-sandbox/modules/deployment2.bicep
Labels: manual validation required, bicep warnings

#13900 Renamed and updated Bicep template
  quickstarts/microsoft.devcenter/deployment-environments/main.bicep
  quickstarts/microsoft.devcenter/deployment-environments/modules/deployment1.bicep
  quickstarts/microsoft.devcenter/deployment-environments/modules/deployment2.bicep
Labels: manual validation required, best practices violations, bicep warnings

#13885 Added Bicep file
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-disk-customer-managed-keys/README.md
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-disk-customer-managed-keys/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-disk-customer-managed-keys/main.bicep
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-disk-customer-managed-keys/metadata.json
  quickstarts/microsoft.databricks/databricks-workspace-with-managed-disk-customer-managed-keys/nested_addAccessPolicy.bicep
Labels: bicep warnings

#13888 fix broken link
  demos/arm-template-retrieve-azure-storage-access-keys/README.md
  demos/arm-template-retrieve-azure-storage-access-keys/metadata.json
Labels: best practices violations, BPA

#13889 fix links
  quickstarts/microsoft.compute/vm-linux-dynamic-data-disks/README.md
  quickstarts/microsoft.compute/vm-linux-dynamic-data-disks/metadata.json
Labels: best practices violations

#13890 fix link
  quickstarts/microsoft.hdinsight/hdinsight-interactive-hive/README.md
  quickstarts/microsoft.hdinsight/hdinsight-interactive-hive/metadata.json
Labels: best practices violations, bicep warnings, BPA

#13892 fix link
  quickstarts/microsoft.hdinsight/hdinsight-linux-ssh-password/README.md
  quickstarts/microsoft.hdinsight/hdinsight-linux-ssh-password/metadata.json
Labels: best practices violations, bicep warnings, BPA

#13895 ASHCI Full Cluster Bicep - Docs Update
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/media/create-client-secret-1.png
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/media/create-client-secret-2.png
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/media/create-client-secret-3.png
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/media/create-service-principal-1.png
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/media/create-service-principal-2.png
Labels: manual validation required, best practices violations, readme violations, BPA

#13898 Modified load balancer quickstart bicep template to remove outbound rules and add NAT gateway
  quickstarts/microsoft.network/load-balancer-standard-create/main.bicep
Labels: best practices violations, bicep warnings

#13912 Improvements in HCI Cluster deployment template
  quickstarts/microsoft.azurestackhci/create-cluster/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster/azuredeploy.parameters.json
Labels: manual validation required, best practices violations, readme violations, BPA

#13908 Update AI hub to connections-based setup
  quickstarts/microsoft.machinelearningservices/aistudio-basics/README.md
  quickstarts/microsoft.machinelearningservices/aistudio-basics/azuredeploy.parameters.json
  quickstarts/microsoft.machinelearningservices/aistudio-basics/main.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-basics/main.json
  quickstarts/microsoft.machinelearningservices/aistudio-basics/metadata.json
  quickstarts/microsoft.machinelearningservices/aistudio-basics/modules/ai-hub.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-basics/modules/ai-resource.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-basics/modules/dependent-resources.bicep
Labels: BPA

#13910 Updated NAT gateway link in README for internal load balancer
  quickstarts/microsoft.network/internal-loadbalancer-create/README.md
Labels: best practices violations

#13918 Revert changes to original template
  quickstarts/microsoft.azurestackhci/create-cluster/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster/azuredeploy.parameters.json
Labels: manual validation required, best practices violations, readme violations, BPA

#13923 FinOps toolkit 0.2.1 - finops-hub update
  quickstarts/microsoft.costmanagement/finops-hub/README.md
  quickstarts/microsoft.costmanagement/finops-hub/metadata.json
  quickstarts/microsoft.costmanagement/finops-hub/modules/dataFactory.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/ftkver.txt
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/storage.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/version.txt
Labels: best practices violations, bicep warnings, BPA

#13922 Update basic example to use API key connections
  quickstarts/microsoft.machinelearningservices/aistudio-basics/main.bicep
  quickstarts/microsoft.machinelearningservices/aistudio-basics/modules/ai-hub.bicep
Labels: BPA

#13915 [APIM] Updated API version to use v2 SKUs
  quickstarts/microsoft.apimanagement/azure-api-management-create/main.bicep
Labels: BPA

#13913 Fix Image Paths in ReadMe - AzureStackHCI Cluster
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-with-prereqs/main.bicep
Labels: manual validation required, best practices violations, readme violations, BPA

#13907 add system assigned template
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/README.md
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/azuredeploy.parameters.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/metadata.json
Labels: best practices violations, bicep warnings, remove azuredeploy.json

#13920 First draft
  quickstarts/microsoft.kusto/kusto-event-grid/README.md
  quickstarts/microsoft.kusto/kusto-event-grid/azuredeploy.json
  quickstarts/microsoft.kusto/kusto-event-grid/azuredeploy.parameters.json
  quickstarts/microsoft.kusto/kusto-event-grid/main.bicep
  quickstarts/microsoft.kusto/kusto-event-grid/metadata.json
  quickstarts/microsoft.kusto/kusto-event-grid/script.kql
Labels: BPA, remove azuredeploy.json
