Repository Azure/azure-quickstart-templates, pull requests merged in 2024-07, with the labels that each got.

#14077 fix typo in API version
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-SingleLink/azuredeploy.parameters.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#13903 [Databricks] Update ARM for vnet injection with new control plane ports
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection/main.bicep
Labels: bicep warnings, remove azuredeploy.json

#13905 [Databricks] Update ARM for private endpoint cmk with new control pla…
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-privateendpoint-cmk-all-forms/azuredeploy.json
Labels: best practices violations

#13904 [Databricks] Update ARM for private link with new control plane ports
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint/main.bicep
Labels: best practices violations, bicep warnings, remove azuredeploy.json

#14080 Remove role assignment note
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-cmk-service-side-encryption/README.md
  quickstarts/microsoft.machinelearningservices/machine-learning-workspace-cmk-service-side-encryption/main.bicep
Labels: bicep warnings, BPA

#14078 Add new ports to databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall template
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-default-storage-firewall/main.bicep
Labels: best practices violations, bicep warnings

#14089 Update VMs to Mariner OS to avoid security vulnerabilities (4)
  quickstarts/microsoft.network/azurefirewall-create-with-firewallpolicy-ipgroups/azuredeploy.json
Labels: BPA

#14088 Update VMs to Mariner OS to avoid security vulnerabilities (3)
  quickstarts/microsoft.network/azurefirewall-create-with-firewallpolicy-explicitproxy/azuredeploy.json
Labels: BPA

#14091 Update VMs to Mariner OS to avoid security vulnerabilities (6)
  quickstarts/microsoft.network/azurefirewall-forced-tunneling/azuredeploy.json
Labels: best practices violations, BPA

#14085 Added bicep template for protection of MySql Flexible servers
  quickstarts/microsoft.dataprotection/backup-create-mysqlflex-enable-protection/README.md
  quickstarts/microsoft.dataprotection/backup-create-mysqlflex-enable-protection/azuredeploy.parameters.json
  quickstarts/microsoft.dataprotection/backup-create-mysqlflex-enable-protection/main.bicep
  quickstarts/microsoft.dataprotection/backup-create-mysqlflex-enable-protection/metadata.json
Labels: best practices violations

#14087 Update VMs to Mariner OS to avoid security vulnerabilities (2)
  quickstarts/microsoft.network/azurefirewall-client-server-sandbox/main.bicep
Labels: bicep warnings, BPA

#14090 Update VMs to Mariner OS to avoid security vulnerabilities (5)
  quickstarts/microsoft.network/azurefirewall-create-with-ipgroups-and-linux-jumpbox/main.bicep
Labels: bicep warnings, BPA

#14092 Update VMs to Mariner OS to avoid security vulnerabilities (7)
  quickstarts/microsoft.network/azurefirewall-sandbox-linux/main.bicep
Labels: best practices violations, bicep warnings, BPA

#14093 Update VMs to Mariner OS to avoid security vulnerabilities (8)
  quickstarts/microsoft.network/azurefirewall-with-firewallpolicy-sandbox-linux/azuredeploy.json
Labels: best practices violations, BPA

#14094 Update VMs to Mariner OS to avoid security vulnerabilities (9)
  quickstarts/microsoft.network/azurefirewall-with-zones-sandbox/main.bicep
Labels: best practices violations, bicep warnings, BPA

#14104 AI services rebrand for computer vision template
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/GettingStarted.md
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/README.md
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/azuredeploy.json
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/azuredeploy.parameters.json
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/images/delete-rsc.png
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/main.bicep
  quickstarts/microsoft.cognitiveservices/cognitive-services-Computer-vision-API/metadata.json
Labels: metadata violations, UPPERCASE
