Repository Azure/azure-quickstart-templates, pull requests merged in 2025-07, with the labels that each got.

#14532 Adding Entitlement management logic templates
  demos/identitygovernance-entitlementmanagement-extensibility-AccessPackageAssignmentRequest-sample-logicapp/README.md
  demos/identitygovernance-entitlementmanagement-extensibility-AccessPackageAssignmentRequest-sample-logicapp/azuredeploy.json
  demos/identitygovernance-entitlementmanagement-extensibility-AccessPackageAssignmentRequest-sample-logicapp/azuredeploy.parameters.json
  demos/identitygovernance-entitlementmanagement-extensibility-AccessPackageAssignmentRequest-sample-logicapp/metadata.json
Labels: metadata violations, best practices violations, UPPERCASE, BPA

#14531 Update SF Linux extension to use Version 2.0 + auto upgrade. 1.1 has been deprecated
  quickstarts/microsoft.servicefabric/5-vm-ubuntu-1-nodetypes-secure/azuredeploy.json
Labels: best practices violations, BPA

#14524 Update azuredeploy.json
  quickstarts/microsoft.web/app-service-docs-windows/azuredeploy.json
Labels: BPA, remove azuredeploy.json

#14523 Update azuredeploy.json
  quickstarts/microsoft.web/app-service-docs-linux/azuredeploy.json
Labels: best practices violations, remove azuredeploy.json

#14539 Update Doc for storage IP
  quickstarts/microsoft.azurestackhci/create-cluster-2-node-switched-custom-storageip/README.md
Labels: manual validation required, best practices violations, readme violations, BPA

#14542 Updating readme for 4 Nodes Switchless Duallink
  quickstarts/microsoft.azurestackhci/create-cluster-4Nodes-Switchless-DualLink/README.md
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14543 Update Readme for Create Cluster USGov
  quickstarts/microsoft.azurestackhci/create-cluster-for-usgov/README.md
Labels: manual validation required, best practices violations, readme violations, BPA

#14544 Updating Readme for RAC
  quickstarts/microsoft.azurestackhci/create-cluster-rac-enabled/README.md
Labels: manual validation required, best practices violations, readme violations, BPA

#14545 Updating Readme for Upgrade-Cluster
  quickstarts/microsoft.azurestackhci/upgrade-cluster/README.md
Labels: manual validation required, best practices violations, BPA
