Repository Azure/azure-quickstart-templates, pull requests merged in 2025-06, with the labels that each got.

#14483 Adding ARM template for MySQL Flexible Server Entra ID
  quickstarts/microsoft.dbformysql/flexible-mysql-with-aad/azuredeploy.json
  quickstarts/microsoft.dbformysql/flexible-mysql-with-aad/azuredeploy.parameters.json
Labels: remove azuredeploy.json

#14488 Add quickstart to create Hubful Fleet using Bicep
  quickstarts/microsoft.kubernetes/fleet-hubful/main.bicep
Labels: readme violations

#14491 Update template for SharePoint
  application-workloads/sharepoint/sharepoint-adfs/CHANGELOG.md
  application-workloads/sharepoint/sharepoint-adfs/README.md
  application-workloads/sharepoint/sharepoint-adfs/bastion.bicep
  application-workloads/sharepoint/sharepoint-adfs/firewall.bicep
  application-workloads/sharepoint/sharepoint-adfs/main.bicep
  application-workloads/sharepoint/sharepoint-adfs/metadata.json
  application-workloads/sharepoint/sharepoint-adfs/virtualMachine.bicep
  application-workloads/sharepoint/sharepoint-adfs/virtualNetwork.bicep
Labels: best practices violations, BPA

#14476 Updated template to disable Default Outbound Connectivity
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-nat-gateway/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-nat-gateway/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-nat-gateway/metadata.json
Labels: remove azuredeploy.json

#14495 Updated 'databricks-vnet-for-vnet-injection-with-natgateway' template to turnoff Default outbound access on subnets
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/main.bicep
  quickstarts/microsoft.databricks/databricks-vnet-for-vnet-injection-with-nat-gateway/metadata.json
Labels: remove azuredeploy.json

#14497 Add azuredeploy.json to template for SharePoint
  application-workloads/sharepoint/sharepoint-adfs/azuredeploy.json
Labels: best practices violations, BPA, remove azuredeploy.json

#14499 Updated 'databricks-all-in-one-template-for-vnet-injection-with-load-balancer' to turnoff default outbound access on subnets
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer/metadata.json
Labels: remove azuredeploy.json

#14508 Disabled defaultOutboundAccess on private endpoint subnet
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-with-nat-gateway/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-with-nat-gateway/main.bicep
Labels: best practices violations, bicep warnings, remove azuredeploy.json

#14509 Added natgateway properties to load balancer template
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer-with-nat-gateway/README.md
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer-with-nat-gateway/azuredeploy.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer-with-nat-gateway/azuredeploy.parameters.json
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer-with-nat-gateway/main.bicep
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-with-load-balancer-with-nat-gateway/metadata.json
Labels: remove azuredeploy.json

#14513 Basic Public IP sku no longer allowed
  quickstarts/microsoft.compute/vm-simple-windows/azuredeploy.json
  quickstarts/microsoft.compute/vm-simple-windows/main.bicep
Labels: best practices violations, PORTAL SAMPLE, BPA, remove azuredeploy.json

#14480 Removing dependency on ARB SPN for Upgrade Template
  quickstarts/microsoft.azurestackhci/upgrade-cluster/azuredeploy.json
  quickstarts/microsoft.azurestackhci/upgrade-cluster/azuredeploy.parameters.json
Labels: manual validation required, best practices violations, BPA

#14482 Adding Upgrade-Cluster-For-USGov template
  quickstarts/microsoft.azurestackhci/upgrade-cluster-for-usgov/README.md
  quickstarts/microsoft.azurestackhci/upgrade-cluster-for-usgov/azuredeploy.json
  quickstarts/microsoft.azurestackhci/upgrade-cluster-for-usgov/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/upgrade-cluster-for-usgov/metadata.json
Labels: manual validation required, best practices violations, readme violations, BPA

#14506 Fix typo: developement -> development
  quickstarts/microsoft.compute/vm-msi-linux-terraform/scripts/install.sh
Labels: best practices violations, BPA

#14514 Fixed indentation in template
  quickstarts/microsoft.databricks/databricks-all-in-one-template-for-vnet-injection-privateendpoint-with-nat-gateway/azuredeploy.json
Labels: best practices violations, bicep warnings, remove azuredeploy.json
