Repository Azure/azure-quickstart-templates, pull requests merged in 2025-05, with the labels that each got.

#14432 Jyotilama/update param
  quickstarts/microsoft.devcenter/devbox-quick-start/azuredeploy.json
  quickstarts/microsoft.devcenter/devbox-quick-start/azuredeploy.parameters.json
  quickstarts/microsoft.devcenter/devbox-quick-start/main.bicep
Labels: best practices violations, remove azuredeploy.json

#14431 FinOps toolkit 0.10 - finops-hub update
  quickstarts/microsoft.costmanagement/finops-hub/createUiDefinition.json
  quickstarts/microsoft.costmanagement/finops-hub/dashboard.json
  quickstarts/microsoft.costmanagement/finops-hub/main.bicep
  quickstarts/microsoft.costmanagement/finops-hub/metadata.json
  quickstarts/microsoft.costmanagement/finops-hub/modules/core-network.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/dataExplorer.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/dataFactory.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/ftkver.txt
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub-app.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub-config.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub-database.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub-event-trigger.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub-storage.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub-types.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub-vault.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/hub.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/keyVault.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/Common.kql
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/Copy-FileToAzureBlob.ps1
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/IngestionSetup.kql
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/OpenDataFunctions_resource_type_1.kql
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/OpenDataFunctions_resource_type_2.kql
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/OpenDataFunctions_resource_type_3.kql
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/OpenDataFunctions_resource_type_4.kql
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/Remove-OldResources.ps1
  quickstarts/microsoft.costmanagement/finops-hub/modules/scripts/Upload-StorageFile.ps1
  quickstarts/microsoft.costmanagement/finops-hub/modules/storage.bicep
  quickstarts/microsoft.costmanagement/finops-hub/modules/vnet.bicep
  quickstarts/microsoft.costmanagement/finops-hub/schemas/actualcost_c360-2025-04.json
  quickstarts/microsoft.costmanagement/finops-hub/schemas/amortizedcost_c360-2025-04.json
Labels: best practices violations, bicep warnings, BPA

#14434 Added bicep file and added resources for nat gateway and bastion
  quickstarts/microsoft.compute/2-vms-loadbalancer-lbrules/README.md
  quickstarts/microsoft.compute/2-vms-loadbalancer-lbrules/azuredeploy.json
  quickstarts/microsoft.compute/2-vms-loadbalancer-lbrules/azuredeploy.parameters.json
  quickstarts/microsoft.compute/2-vms-loadbalancer-lbrules/main.bicep
  quickstarts/microsoft.compute/2-vms-loadbalancer-lbrules/metadata.json
Labels: remove azuredeploy.json

#14435 Differentiate between service and instance names in readme
  quickstarts/microsoft.databasewatcher/create-watcher/README.md
Labels: best practices violations, bicep warnings, BPA

#14436 SPN support for 2411.3 Build 2 Nodes Switched Custom StorageIP
  quickstarts/microsoft.azurestackhci/create-cluster-2-node-switched-custom-storageip-2411.3/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-2-node-switched-custom-storageip-2411.3/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster-2-node-switched-custom-storageip-2411.3/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster-2-node-switched-custom-storageip-2411.3/metadata.json
Labels: manual validation required, best practices violations, readme violations, BPA

#14437 SPN support for 2411.3 Build 3 Nodes Switchless DualLink
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-DualLink-2411.3/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-DualLink-2411.3/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-DualLink-2411.3/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-DualLink-2411.3/metadata.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14438 SPN support for 2411.3 Build 3 Nodes Switchless SingleLink
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-SingleLink-2411.3/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-SingleLink-2411.3/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-SingleLink-2411.3/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-SingleLink-2411.3/metadata.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14318 Indraneel pal template ff
  quickstarts/microsoft.azurestackhci/create-cluster-for-fairfax/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-for-fairfax/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster-for-fairfax/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster-for-fairfax/azuredeployedgedevices.json
  quickstarts/microsoft.azurestackhci/create-cluster-for-fairfax/azuredeployedgedevices.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster-for-fairfax/metadata.json
Labels: manual validation required, best practices violations, readme violations, BPA

#14452 Removing Dependency on ARB SPN
  quickstarts/microsoft.azurestackhci/create-cluster-4Nodes-Switchless-DualLink/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster-4Nodes-Switchless-DualLink/azuredeploy.parameters.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14453 SPN support for 2411.3 Build 4 Nodes Switchless DualLink
  quickstarts/microsoft.azurestackhci/create-cluster-4Nodes-Switchless-DualLink-2411.3/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-4Nodes-Switchless-DualLink-2411.3/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster-4Nodes-Switchless-DualLink-2411.3/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster-4Nodes-Switchless-DualLink-2411.3/metadata.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14451 Modifying Template to include edgeDevice and Deployment Setting Secret Fix for 2411.3
  quickstarts/microsoft.azurestackhci/create-cluster-2-node-switched-custom-storageip-2411.3/azuredeploy.json
Labels: manual validation required, best practices violations, readme violations, BPA

#14450 Modifying Template to include edgeDevice with Deployment Setting Secret Fix
  quickstarts/microsoft.azurestackhci/create-cluster-2-node-switched-custom-storageip/azuredeploy.json
Labels: manual validation required, best practices violations, readme violations, BPA

#14470 Add Node Validation for 2411.3 clyuster
  quickstarts/microsoft.azurestackhci/create-cluster-2411.3/azuredeploy.json
Labels: manual validation required, best practices violations, readme violations, BPA

#14463 Fix: Deployment Setting Secret in Template for 3 Nodes Switchless DualLink
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-DualLink/azuredeploy.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14468 Fix: Deployment Setting Secret in Template for 3 Nodes Switchless DualLink - 2411.3
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-DualLink-2411.3/azuredeploy.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14464 Template for 3 node switchess Single Link
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-SingleLink/azuredeploy.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14467 Create-Cluster 3 Node SwitchLess SingleLink Correction
  quickstarts/microsoft.azurestackhci/create-cluster-3Nodes-Switchless-SingleLink-2411.3/azuredeploy.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14472 Fix: Deployment Setting Secret in Template for 4 Nodes Switchless DualLink
  quickstarts/microsoft.azurestackhci/create-cluster-4Nodes-Switchless-DualLink/azuredeploy.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14473 Fix: Deployment Setting Secret in Template for 4 Nodes Switchless DualLink - 2411.3
  quickstarts/microsoft.azurestackhci/create-cluster-4Nodes-Switchless-DualLink-2411.3/azuredeploy.json
Labels: manual validation required, metadata violations, best practices violations, readme violations, UPPERCASE, BPA

#14471 Renaming FF to USGov and remove diff comparing with other template
  quickstarts/microsoft.azurestackhci/create-cluster-for-fairfax/README.md
  quickstarts/microsoft.azurestackhci/create-cluster-for-fairfax/azuredeploy.json
Labels: manual validation required, best practices violations, readme violations, BPA

#14440 Add quickstarts to create Hubless Fleet using arm template
  quickstarts/microsoft.kubernetes/fleet-hubless/README.md
  quickstarts/microsoft.kubernetes/fleet-hubless/azuredeploy.json
  quickstarts/microsoft.kubernetes/fleet-hubless/azuredeploy.parameters.json
  quickstarts/microsoft.kubernetes/fleet-hubless/metadata.json
Labels: best practices violations, readme violations

#14441 Add quickstart to create Hubful Fleet using arm template
  quickstarts/microsoft.kubernetes/fleet-hubful/README.md
  quickstarts/microsoft.kubernetes/fleet-hubful/azuredeploy.json
  quickstarts/microsoft.kubernetes/fleet-hubful/azuredeploy.parameters.json
  quickstarts/microsoft.kubernetes/fleet-hubful/metadata.json
Labels: best practices violations, readme violations

#14442 Add quickstart to create private Hubful Fleet using arm template
  quickstarts/microsoft.kubernetes/fleet-hubful-private/README.md
  quickstarts/microsoft.kubernetes/fleet-hubful-private/azuredeploy.json
  quickstarts/microsoft.kubernetes/fleet-hubful-private/azuredeploy.parameters.json
  quickstarts/microsoft.kubernetes/fleet-hubful-private/metadata.json
Labels: best practices violations, readme violations

#14459 Update link to standalone Darktrace vSensor template in auto-scaling template.
  application-workloads/darktrace/darktrace-vsensor-autoscaling/README.md
Labels: BPA

#14462 Fix the targetDNS array in the Private DNS Resolver example
  quickstarts/microsoft.network/azure-dns-private-resolver/main.bicep
Labels: best practices violations

#14465 Fix parameter names in internal load balancer quickstarts
  quickstarts/microsoft.network/internal-loadbalancer-create/azuredeploy.json
  quickstarts/microsoft.network/internal-loadbalancer-create/azuredeploy.parameters.json
  quickstarts/microsoft.network/internal-loadbalancer-create/main.bicep
Labels: bicep warnings, BPA

#14475 Revert "Fix parameter names in internal load balancer quickstarts"
  quickstarts/microsoft.network/internal-loadbalancer-create/azuredeploy.json
  quickstarts/microsoft.network/internal-loadbalancer-create/main.bicep
Labels: bicep warnings, BPA, remove azuredeploy.json

#14477 Fixing FF template (Remove SPN Dependency) and Edge Device in Single Template
  quickstarts/microsoft.azurestackhci/create-cluster-for-usgov/azuredeploy.json
  quickstarts/microsoft.azurestackhci/create-cluster-for-usgov/azuredeploy.parameters.json
  quickstarts/microsoft.azurestackhci/create-cluster-for-usgov/azuredeployedgedevices.json
  quickstarts/microsoft.azurestackhci/create-cluster-for-usgov/azuredeployedgedevices.parameters.json
Labels: manual validation required, best practices violations, readme violations, BPA
